[2015-04-30 16:59] piwats opened #1 "Feature req.: Per user/group self-service"
Hello,

would it be possible to have a kind of rights management for the self-service/release of messages on a per user/group basis?

For example: user A should be able to self-service himself and or release his quarantined mails, but user B not. (Or users in a specific group)

That would be nice to have.

-Paul

[2015-05-01 14:08] tonioo opened #2 "Add per user whitelist/blacklist support"
_From @tonioo on December 4, 2013 15:22_

**Originally created by Antoine Nguyen on 2009-11-06T08:22:26Z**

As for quarantine, Amavisd-new allows users to define personnal whitelists/blacklists in an SQL database.

Create a new extension (or modify the existing quarantine extension) to handle this.

Additional specs are needed.

_Copied from original issue: tonioo/modoboa#40_

[2015-05-01 14:21] tonioo opened #3 "Reminder email support"
_From @tonioo on December 4, 2013 15:26_

**Originally created by Antoine Nguyen on 2011-04-21T13:36:32Z**

Add the possibility to automatically send reminder emails to users who have messages in the quarantine. Some technical precisions:
* This feature will controlled from the admin panel. If activated, it will install a new entry in the crontab,
* Predefined frequencies will be available (daily,

[2015-05-02 09:20] tonioo opened #4 "Amavis-quarantine - ability to assign per user permissions"
_From @tonioo on December 4, 2013 15:43_

**Originally created by Mike C on 2012-07-05T09:24:47Z**

On special scenarios, such has exchange some user receive emails from "Distribution List", this list are not like alias, so the user does not "own" the address.

This means that if a Distribution List such as "sales@domain.com" exists in Exchange and its its members are: user1@domain.com, user2@doma

[2015-05-02 09:20] tonioo opened #5 "amavis extension does not manage policies in a way compatible with amavisd-new's own documentation"
_From @tonioo on December 4, 2013 15:44_

**Originally created by Louis-Dominique Dubeau on 2012-09-06T12:34:53Z**

Modoboa version: 0.9.2
Amavisd-new version: 2.7.1

The documentation regarding SQL usage provided with amavisd-new suggests that multiple records in the users table should point to the same record in the policy table. Said documentation is here:

http://www.ijs.si/software/amavisd/RE

[2015-05-02 09:20] tonioo commented on #5
**Posted by Antoine Nguyen on 2012-09-06T19:49:30Z**

Hi,

I understand your point of view but I haven't designed the *per-domain policy* feature in this way.

Actually, Modoboa can't be used on an existing database (I mean for users and policies). My idea was :

* A *user* record is created for each domain
* Provide a default policy (id == 1) that doesn't define anything (use default values every

[2015-05-02 09:20] tonioo commented on #5
**Posted by Antoine Nguyen on 2012-09-10T08:12:53Z**

Hi Louis-Dominique,

what do you think about my previous reply ?

Antoine

[2015-05-02 09:20] tonioo commented on #5
**Posted by Louis-Dominique Dubeau on 2012-09-10T23:23:11Z**

Antoine Nguyen wrote:

And that is the problem. It is very likely that sysadmins who might want to install modoboa already use the scheme suggested by the documentation that comes with amavisd-new. They'll have a users table and policy table *already* populated before they install modoboa.

I'm not sure whether I prefer the way suggeste

[2015-05-02 09:20] tonioo commented on #5
**Posted by Antoine Nguyen on 2012-09-12T16:08:02Z**

Louis-Dominique Dubeau wrote:

I agree, this is a real issue. I really didn't think users of existing solution (such as maia) would use Modoboa to handle policies and more so quickly. i need to find a way to fix that issue.

I can indeed update the documentation to let people know about that restriction. Reading your messages, I finally think i

[2015-05-02 09:20] tonioo commented on #5
**Posted by Louis-Dominique Dubeau on 2012-09-14T12:26:16Z**

Antoine Nguyen wrote:

I'd actually say that the fact I used Maia before really has no bearing on the case. When I used Maia, my entire mail system was managed by the hosting company I was using. When I moved to my new hosting company I had to install postfix, dovecot, amavisd-new, etc with the help of my hosting company's documentation

[2015-05-02 09:20] tonioo commented on #5
**Posted by Antoine Nguyen on 2012-09-14T19:22:00Z**

Louis-Dominique Dubeau wrote:

Ok I understand now. In addition to the schema, you also applied the example queries used to populate the policy tables and the others.

Ok.

I can understand that. Anyway, reporting new issues or giving your point of view about the product is already a big contribution. Thanks for that :)

You're welcome. I rarel

[2015-05-02 09:20] tonioo commented on #5
**Posted by Louis-Dominique Dubeau on 2012-10-05T15:03:37Z**

This problem blew in my face today. For the reasons already given, I am sure that someone who follows in my footsteps will encounter the following error because their policy table will already be filled with the values that the amavisd-new folks suggest to put in there.

I tried the development version of modoboa. When I got to doing:

[2015-05-02 09:20] tonioo commented on #5
**Posted by Antoine Nguyen on 2012-10-05T18:26:07Z**

Unfortunately it is currently *normal* because I provide a default policy with an id set to 1.

I need to totally refactor this part and I don't think I'll do that for 0.9.3. I'm wondering what I should do : provide a raw policy editor and allow domains to use an existing policy or to define their own ?

[2015-05-02 09:20] tonioo commented on #5
**Posted by Mike C on 2013-01-02T13:13:22Z**

I'm facing the same problem, whats the status on this? Is there any workaround?

Thanks

[2015-05-02 09:20] tonioo commented on #5
**Posted by Louis-Dominique Dubeau on 2013-01-02T13:51:55Z**

My workaround is to ignore Modoboa's facilities for managing amavisd's policies. I don't need to change them often. When I do, I just start a SQL shell from the command line and alter the tables myself.

[2015-05-02 09:20] tonioo commented on #5
**Posted by Antoine Nguyen on 2013-01-02T14:15:35Z**

Mike C wrote:

Hi Miguel,

I'll refactor this part for 1.1. How did you come to this situation ?

[2015-05-02 09:20] tonioo commented on #5
**Posted by Mike C on 2013-01-02T15:41:22Z**

Just running installing the first time on a Centos 5 box, the auto install failed to tun the sql script, I tried to run manually "syndb --migrate" and get a migration error for amavis:

python26 manage.py syncdb --migrate
Syncing...
Creating tables ...
Installing custom SQL ...
Installing indexes ...
Installed 0 object(s) from 0 fixture(s)
Migrating...

[2015-05-02 09:20] tonioo commented on #5
**Posted by Mike C on 2013-01-02T15:43:49Z**

Sorry, maybe this is more readable:

@python26 manage.py syncdb --migrate
Syncing...
Creating tables ...
Installing custom SQL ...
Installing indexes ...
Installed 0 object(s) from 0 fixture(s)
Migrating...
Running migrations for lib:
- Nothing to migrate.
 - Loading initial data for lib.
Installed 0 object(s) from 0 fixture(s)
Running migrations for a

[2015-05-02 09:20] tonioo commented on #5
**Posted by Antoine Nguyen on 2013-01-02T15:47:51Z**

Mike C wrote:

Yes, it seems to be a different issue.

What's your amavis version ?

[2015-05-02 09:20] tonioo commented on #5
**Posted by Mike C on 2013-01-02T16:48:06Z**

Latest available trough the system packages manager (YUM)

amavisd-new.i386                       2.6.6-2.el5.rf             installed

Unfortunately 2.8 is not available trough yum, perhaps I'll compile it later, but I still need to do some research, my guess is that it won't be an easy task :)

[2015-05-02 09:20] tonioo commented on #5
**Posted by Antoine Nguyen on 2013-01-02T17:41:41Z**

Mike C wrote:

Indeed Modoboa is only compatible with amavis >= 2.7

You may like this thread: http://lists.amavis.org/pipermail/amavis-users/2012-December/002060.html

[2015-05-02 09:20] tonioo commented on #5
**Posted by Mike C on 2013-01-02T17:44:01Z**

This is Centos 5 though... the upgrade to Centos 6 require a clean install and honestly 5.8 is working fine.

I guess I'll have to compile it or try to use the SRPM specs from 2.6.

thanks for the help

[2015-05-02 09:20] tonioo commented on #5
**Posted by Louis-Dominique Dubeau on 2013-02-06T20:08:22Z**

Still causing problems with 0.9.4. (Yeah, I noticed the target version is 1.1.) Symptoms are the same as before. The workaround:

<pre>
$ rename 's/$/.off/' /usr/local/lib/python2.7/dist-packages/modoboa/extensions/amavis/migrations/0002_create_records.py
</pre>

(The rename script basically renames files by applying a perl substitution

[2015-05-02 09:21] tonioo opened #6 "Ability to check the connection to amavis"
_From @tonioo on December 4, 2013 15:44_

**Originally created by Antoine Nguyen on 2012-09-19T15:38:01Z**

On the screen where the administrator sets the parameters for the amavis extension, provide the capability to test communications with amavis.

_Copied from original issue: tonioo/modoboa#306_

[2015-05-02 09:21] tonioo opened #7 "Full policy editor"
_From @tonioo on December 4, 2013 15:44_

**Originally created by Antoine Nguyen on 2012-10-21T09:33:54Z**

Add a complete policy editor:

* Possibility to define all policy fields
* Possibility to assign a policy to a domain

_Copied from original issue: tonioo/modoboa#320_

[2015-05-02 10:14] tonioo opened #8 "Manage DKIM keys"
_From @tonioo on December 4, 2013 15:45_

**Originally created by Antoine Nguyen on 2012-10-21T10:19:54Z**

Add the possibility to enable DKIM signing from Modoboa. The big issue is: we need to generate amavis config. files :p

_Copied from original issue: tonioo/modoboa#336_

[2015-05-02 10:14] tonioo commented on #8
**Posted by Christophe CHAUVET on 2013-07-08T09:39:00Z**

I found OpenDKIM http://www.opendkim.org/

More simple to configure than amavis dkim

Regards,

[2015-05-02 10:14] tonioo commented on #8
_From @almereyda on June 6, 2014 14:7_

Maybe you want to have a look at how https://github.com/JoshData/mailinabox implements DKIM. Their trick is to run their own DNS for publishing the keys.

[2015-05-03 12:31] tonioo opened #9 "Mail activity"
_From @aanriot on September 8, 2014 7:34_

Hello,

As done in MailCleaner, it could be useful to have a page displaying the mail activity:

- Arrival date / status ;
- Envelope sender ;
- Recipients ;
- Status (spam / virus / bad header mail) ;
- Deliver status / date.

with a few filters:

- The liste of the configured domains
- A type field (e.g. to look for logs of a specific mailbox)
- Date

_

[2015-05-03 12:31] tonioo opened #10 "amavis tables not created"
_From @zodman on July 16, 2014 22:51_

Hi i create a fabric install script for modoboa.

https://bitbucket.org/zodman/vagrant_modoboa/src/d8a4fbe65e0296f0a5493763a3aefd45b710a4ec/fabfile.py?at=master

Here the code

when it finished the database amavis no had tables. ( missing the tables for modoboa.extensions.amavis)

_Copied from original issue: tonioo/modoboa#583_

[2015-05-03 12:31] tonioo commented on #10
_From @piwats on July 17, 2014 17:38_

I think, modoboa relies on the standart amavis db layout.

I used to install the amavis db according to this documentation:
http://www.ollegustafsson.com/en/ultimate-mailserver-setup/

Also, as far as I know, you have deploy modoboa with amavis support:

modoboa-admin.py deploy --syncdb --collectstatic --with-amavis mailadmin

-Paul

[2015-05-03 12:31] tonioo commented on #10
_From @zodman on July 17, 2014 20:49_

tnks

2014-07-17 12:38 GMT-05:00 piwats <notifications@github.com>:

--
Andres Vargas
www.zodman.com.mx

[2015-05-03 12:31] tonioo commented on #10
Actually, Modoboa is not responsible for amavis database creation. You must do it manually (http://modoboa.readthedocs.org/en/latest/plugins/amavis.html#quick-amavis-setup).

[2015-05-03 12:31] tonioo commented on #10
_From @esevece on September 7, 2014 9:5_

I just noticed the same. Maybe could be created for new installations.

[2015-05-03 12:35] tonioo opened #11 "LDAP backend support"
_From @tonioo on December 4, 2013 15:45_

**Originally created by Antoine Nguyen on 2012-10-21T10:18:35Z**

Amavis is able to look into an LDAP directory, we should support this. (policies, etc.)

_Copied from original issue: tonioo/modoboa#335_

[2015-05-03 12:35] tonioo opened #12 "Generate amavis configuration"
_From @tonioo on December 4, 2013 15:45_

**Originally created by Antoine Nguyen on 2012-10-21T10:21:01Z**

It could be useful in many cases:

* DKIM signing
* Banned files policies
* Etc.

_Copied from original issue: tonioo/modoboa#337_

[2015-05-03 12:35] tonioo opened #13 "acl on amavis setup for a domain"
_From @tonioo on December 4, 2013 15:47_

**Originally created by Fabrice Flore-Thébault on 2013-04-16T14:54:40Z**

Using modoboa with amavis plugin, the ability to disable antispam and antivirus for a domain is for now enabled for all users except single users.

It would be a nice feature to have it more configurable.

For example, one could decide to let no one except the superadmin disable anti

[2015-05-03 12:37] tonioo opened #14 "Manual learning and alias of alias"
_From @tonioo on January 8, 2015 12:41_

When the "manual learning" feature is enabled, it is not possible to create an alias pointing to an alias anymore.

_Copied from original issue: tonioo/modoboa#670_

[2015-05-06 15:51] tonioo opened #16 "Manual learning: empty sa_username for user policy"
When the user level is enabled, user policies are created with an empty sa_username value. It means amavis will never use those policies...

[2015-05-07 12:15] tonioo commented on #1
Hi Paul,
this is a pretty good idea but which requires some work. BTW, it seems you use the self-service feature. What do you think about it ?

Antoine

[2015-05-07 12:34] piwats commented on #1
Hi Antoine,

I indeed do use the self-service mode, furthermore I also use it as an admin.

There are not many amavis guis out there. One of which I know is the ugly thing found as a plugin for roundcube, some dead php projects which ceased development somewhere in 2005, and yours, which seems to be the only one nice to work with, and look at it, too.

Overall I like it as it is now and am very ha

[2015-05-18 15:33] tonioo opened #17 "Recipient address parsing fails with + characters"
Recipient addresses containing + characters are splitted.

[2015-06-10 09:02] tonioo opened #18 "Per-user Amavis settings"
_From @SomeGeek on October 23, 2014 15:22_

Expand the black/whitelist feature to a full per-domain and a per-user amavis control.

Proposal: Integrate SpamAssasin functions as well.

_Copied from original issue: tonioo/modoboa#626_

[2015-06-10 15:14] #16 closed

[2015-06-10 15:29] #17 closed

[2015-07-15 08:23] #14 closed

[2015-07-18 13:23] tonioo opened #19 "Update 1.2.1 -> 1.3.3 issue: modoboa_amavis.models.DoesNotExist: Policy matching query does not exist"
_From @mrh666 on June 20, 2015 12:33_

Hi there,

During the migration from 1.2.1 to 1.3.3 I deployed a new modoboa instance, added extensions, dbs and routers section to settings.py:

[code]

[code]

During migration process I run ```python manage.py load_initial_data``` and I've got the next error:

[code]

How can I fix it?

Thank you!

_Copied from original issue: tonioo/modoboa#747_

[2015-07-18 13:23] tonioo commented on #19
Looks like you amavis database is missing some records. For each domain, you should have one record into the "policy" table and 1 record into the "users" one. In your case, the policy table is not complete. In you are in a hurry, I suggest you manually create missing records.

[2015-07-18 13:23] tonioo commented on #19
_From @mrh666 on June 20, 2015 13:37_

O! That is interesting. I found the difference in policy and users, there is one alias record, like domain.com <- domainwithsuffix.com:
in users table

[code]

[code]

But if I'll create it manually, I should define it with the same id (11) which is wrong I assume.

What is proper way to do it?

P.S. During migration I break functionality of my mail system of

[2015-07-18 13:23] tonioo commented on #19
You don't need to use the same id. Just create a policy with a policy_name == domainwithsuffix.com.

You need to run the postfix_maps command to update the sql map files. Check out the documentations to update your postfix configuration too :
* http://modoboa-admin-relaydomains.readthedocs.org/en/latest/setup.html
* http://modoboa.readthedocs.org/en/latest/integration/imap_and_smtp.html#postfix

[2015-07-18 13:23] tonioo commented on #19
Does it work now ?

[2015-09-18 15:38] web-refinery commented on #8
I think adding DNS to the stack should be optionally. Personally I'd rather write an ansible playbook to create/regenerate DKIM's and have that add it to my DNS.

[2015-11-18 08:20] tonioo opened #20 "Modoboa 1.4.0 and Django 1.8"
Ensure compatibility with this versions.

[2015-12-02 14:46] #20 closed

[2015-12-05 14:51] tonioo opened #22 "Execution of management commands fails"
[code]

[2015-12-05 14:52] #22 closed

[2015-12-15 14:37] rhaamo opened #23 "Permission denied after fresh install"
I've done a fresh install using installer and getting error with amavis:
[code]

What can i do to correct that ?

[2015-12-15 15:11] csmk commented on #23
Well, I think you need to configure amavis and clamAV correctly before start the integration with modoboa.

As the error says, you need to double-check the permittions in /var/lib/amavis :point_right: https://www.ijs.si/software/amavisd/INSTALL.txt

[2015-12-15 15:23] rhaamo commented on #23
Well, all have been installed by modoboa installer.
Right are ok too and amavis is running under amavis user:
[code]

I think it's caused by clamav running under another user that amavis.

[2015-12-15 15:34] csmk commented on #23
I see... You need to add the user "clamav" in the "amavis" group (and maybe vice versa too):

[code]

[2015-12-15 19:48] tonioo commented on #23
The installer should already add clamav to the amavis group: https://github.com/modoboa/modoboa-installer/blob/master/modoboa_installer/scripts/clamav.py#L20

[2016-01-05 11:00] Sn4kY commented on #23
Hi.
I have exactly the same problem. Fresh install on debootstraped Debian Jessie, problem still continues :
Jan  5 11:46:03 mail amavis[879]: (00879-06) (!)run_av (ClamAV-clamd) FAILED - unexpected , output="/var/lib/amavis/tmp/amavis-20160105T110044-00879-Z5j0MaPM/parts: lstat() failed: Permission denied. ERROR\n"
Jan  5 11:46:03 mail amavis[879]: (00879-06) (!)ClamAV-clamd av-scanner FAILED: CO

[2016-01-06 18:43] #19 closed

[2016-01-06 18:46] tonioo opened #24 "Impossible to execute management commands"
Since the migration to Django 1.8 and changes made to models, management commands cannot be run anymore. For example:
[code]

[2016-01-06 18:46] #24 closed

[2016-01-07 10:08] tonioo commented on #23
Thanks for the solution. I'll fix it into the installer.

[2016-01-07 10:08] #23 closed

[2016-01-26 13:08] tonioo commented on #23
@Sn4kY Hey, what was the distribution you used please ?

[2016-01-26 14:41] Sn4kY commented on #23
Debootstraped Debian Jessie (8.2)

[2016-01-27 09:31] tonioo commented on #23
Ok, so I guess the default value on Debian is set to false. I've checked on a fresh Ubuntu and the value is already set to true.

[2016-02-24 07:36] spinza commented on #24
Just checking when will 1.0.7 be released?  This bug is not a major problem but is annoying to get a daily cron email on it.

[2016-02-29 12:36] tonioo commented on #24
It should be released within a few days.

[2016-02-29 13:12] spinza commented on #24
tx

[2016-03-16 10:38] tonioo opened #25 "Self service mode is broken"
The HTML template has been updated so static files are not loaded properly.

[2016-03-31 11:40] spinza commented on #24
Still on 1.0.6.  Any timeline on 1.0.7?

Thanks!

[2016-04-08 15:14] tonioo opened #26 "Adding an alias that points to another alias doesn't do anything (error)"
See https://github.com/tonioo/modoboa/issues/854

[2016-04-08 15:24] #26 closed

[2016-04-19 15:53] blendi-93 opened #27 "cant see all mails in quarantine"
Modoboa 	1.4.5 	1.4.5 	The core part of Modoboa
Amavis frontend 	1.0.6 	1.0.6 	Simple amavis management frontend

currently i have 10 mails in quarantine.
/user/#preferences/ set display count to a low number (5) so u shuld see multiple pages.

expected:
2 pages a 5 mail

but i only get 1 page without page navigation

[2016-04-19 16:03] blendi-93 opened #28 "amavis slow long running select"
my cpus going crazy while mysql is using 100%

    mysql> SHOW FULL PROCESSLIST;

one of the lonrunning:

    | Id    | User    | Host                             | db      | Command | Time | State        | Info
    |  1758 | amavis  | netzwerkplan01.mivitec.net:48759 | amavis  | Query   | 7712 | Sending data | SELECT COUNT(*) AS `__count` FROM `msgrcpt` INNER JOIN `maddr` ON ( `msgrcpt`.`rid` = `

[2016-04-20 07:45] blendi-93 commented on #28
found another one and realized thers an modoboa job next to him:

    Id|User|Host|db|Command|Time|State|Info
    ---|---|---|---|---|---|---|---
    138138|modoboa|netzwerkplan01.mivitec.net:59655|modoboa|Sleep|9547||NULL
    138139|amavis|netzwerkplan01.mivitec.net:59656|amavis|Query|9547|Sending data|SELECT COUNT(*) AS `__count` FROM `msgrcpt` INNER JOIN `maddr` ON ( `msgrcpt`.`rid` = `maddr`.`

[2016-04-26 18:36] controlcde opened #29 ""Table 'modoboa.users' doesn't exist" after "python manage.py load_initial_data""
I´ve got an existing modoboa installation and I wan´t to add modoboa-amavis. I have done all the steps described on github page and on the last step `python manage.py load_initial_data` I´ve got an error
_"Table 'modoboa.users' doesn't exist"_. And I can´t get access to the web interface _"An internal error occurred."_ because of the missing amavis db tables.

Here is the complete output:
[code]

[2016-04-26 18:41] controlcde commented on #29
After deleting instance dir and reinstalling modoboa instance with the amavis extension (without deleting the database) everything is alright.

[2016-04-26 21:28] tonioo commented on #29
You need to add the following line at the end of your settings.py file:

[code]

[2016-04-27 13:48] controlcde commented on #29
Ok, thanks @tonioo. This information should be in the [Readme](https://github.com/modoboa/modoboa-amavis/blob/master/README.rst).

[2016-04-27 13:48] #29 closed

[2016-04-27 14:05] tonioo commented on #28
That's strange... Maybe too many modoboa cron jobs are running at the same time ?

[2016-04-27 14:08] tonioo commented on #27
Since Modoboa paginates lists using the "infinite scroll" way, your content must reach the bottom before an another page is loaded. I suggest you set the setting to a high value (20 for example) so the bottom can be reached.

[2016-04-30 08:17] blendi-93 commented on #28
sry for late reply.
the amavis database is 1.3gb big and as u go to the modoboa amavis frontend it starts such a select.
The amavis db is that big cause the cleanup script is not working (cant give the error message today iam not at work ill post it monday evening)

[2016-04-30 08:19] blendi-93 commented on #27
lol, ok thanks i'll try it.

[2016-05-02 12:17] #25 closed

[2016-05-04 18:35] #27 closed

[2016-05-04 18:37] blendi-93 commented on #28
output from cleanup script:

    # /var/www/mailadmin/manage.py qcleanup
    Traceback (most recent call last):
      File "/var/www/mailadmin/manage.py", line 10, in <module>
        execute_from_command_line(sys.argv)
      File "/usr/local/lib/python2.7/dist-packages/django/core/management/__init__.py", line 354, in execute_from_command_line
        utility.execute()
      File "/usr/local/lib/

[2016-05-05 06:18] tonioo commented on #28
Ok, this issue shoud be fixed with 1.0.7

[2016-05-05 23:13] blendi-93 commented on #28
y, fixed i had some trouble upgrading from autoinstalled modoboa.
i followed the doc

    pip install -U modoboa
    rm -rf instance_dir
    modoboa-admin.py deploy  instance --collectstatic  --dburl default:mysql://modoboa:SECRET@localhost:3306/modoboa amavis:mysql://amavis:SECRET@localhost:3306/amavis --domain SECRET.net --extensions all
    /etc/init.d/nginx restart
    /etc/init.d/uwsgi restar

[2016-05-05 23:13] #28 closed

[2016-05-09 23:18] spinza opened #30 "CRON job error"
Getting this cron error every minute (generated by cron email).

[code]

[2016-05-09 23:21] spinza commented on #30
Running latest version of everything.

[2016-05-10 02:36] hydrandt commented on #30
I was getting identical warnings from the manage.py generate_rights cronjob, and from the rest of them later too. Reported it in modoboa-radicale issues:

https://github.com/modoboa/modoboa-radicale/issues/5

tonioo: "The second one is just a warning (unfortunately, I can't get rid of it) and you can ignore it by redirecting stdout to /dev/null."

Actually just redirecting stdout was not enough, t

[2016-05-10 07:19] spinza commented on #30
Lol it's just ironic.  Was waiting for this version to stop a daily cron error, which is resolved (see https://github.com/modoboa/modoboa-amavis/issues/24).

Now I get one every minute :D

[2016-05-10 07:25] tonioo commented on #30
Can you try to add the following to your settings.py file please:
[code]

[2016-05-10 08:10] hydrandt commented on #30
Yes, that silences that warning successfully. Thank you!

Remove all your /dev/null redirections with:

<pre>sed -i "s/&> \/dev\/null/\ /g" /etc/cron.d/modoboa</pre>

[2016-05-10 08:16] spinza commented on #30
Will try and give feedback.  Later today or tomorrow.

[2016-05-11 09:50] #30 closed

[2016-05-11 13:59] tonioo opened #31 "An account does not always have a 'users' entry"
When "manual learning" mode is enabled and an account is renamed, the plugin tries to rename the corresponding entry inside the "users" table. Unfortunately, the entry is not always present.

[2016-05-11 14:49] #31 closed

[2016-05-23 14:34] m4dz opened #32 "How can I mark false-negative spams?"
Hi there!

I'm using modoboa for a week (nice job :+1: !) and I'm trying to get amavis/spamassassin couple to work. I've installed modoboa and its extensions with the modoboa-installer on a PGSQL DB, without any problem (except that the spamassasin DB was empty, due to the lack of the sql file in the filesystem, not sure why… I've fixed it manually).

Now my problem is that I have a lot of spams,

[2016-05-24 07:16] tonioo commented on #32
Hi,
there are actually 2 ways to answer your need:
1. Add ```$clean_quarantine_method = 'sql:';``` to amavis configuration to put a copy of all clean messages into the quarantine. You'll then be able to use the learning feature provided by Modoboa
2. Confgure dovecot antispam plugin (http://wiki2.dovecot.org/Plugins/Antispam) to learn from your Junk folder.
I think option 2. could be automatically

[2016-05-24 07:52] m4dz commented on #32
Great! I think too that option 2 should be the best way. I can confirm that `dovecot-antispam` isn't installed on my instance.

I'll try to configure it by myself, can you just explain to me how to do it properly (using mailtrain and the `sa-learn-pipe` script given as exemple, I suppose)?

Thanks!

[2016-05-24 11:50] tonioo commented on #32
Yes, use that script (which is just a wrapper to sa-learn). The wiki explains the setup pretty well but don't hesitate to more help on IRC or the on the mailing list.

[2016-05-24 11:55] m4dz commented on #32
Yep, just done it, it works like a charm! Let's see if the bayes filter training is efficient, now :wink:. Thanks for your time and your very good job!

[2016-05-24 12:02] tonioo commented on #32
@m4dz Thank you ;)
Can I close the issue ?

[2016-05-24 12:10] m4dz commented on #32
Yep, of course :)

[2016-05-24 12:10] #32 closed

[2016-05-24 12:51] tonioo commented on #32
@m4dz BTW, you're using modoboa at Cozy ? Or just for you own need ? :)

[2016-05-24 13:00] m4dz commented on #32
Ahah, just for my own needs at this time, but since Cozy do not embed a complete mail server, Modoboa is one of the solution we tend to recommend when we're asked for mail provider solution. But maybe one day, I hope we'll migrate our internal mails to Modoboa :wink:.

[2016-05-24 13:47] tonioo commented on #32
Good to know ;-)

[2016-05-31 19:41] zoc opened #33 "Creating per-user policy from command line"
Hi,

First of all, many thanks for your work on modoboa. This is really THE tool I always wanted to have to administer my mail server. Currently migrating from MacOSX Server to a Linux based solution using postfix+amavis+dovecot and modoboa, I'm in the process of configuring everything. However I would like to use the dovecot-antispam module to simplify reporting Spams/False positives for my users

[2016-06-01 18:29] tonioo commented on #33
Hi,
you're absolutely right: per-user "users" records are created the first time a mail is reported from the interface...
I see two options to quickly solve this issue:
* Use a global database (amavis) to learn from all users
* Manually create an entry for every user as you proposed but it requires a bit of python knowledge

Another one, maybe more interesting, would be to create "users" record fo

[2016-06-05 15:10] zoc commented on #33
Thank you for the answer.

Finally I chose not to go this way and to rely on the user reporting at least one time using the web interface.

My dovecot-antispam script, written in perl (I'm a little bit more comfortable writing perl) extracts sa_username from the dovecot username using a mysql stored procedure. This stored procedure tries to find the user policy from the user's full email address,

[2016-06-05 15:10] #33 closed

[2016-06-05 16:41] zoc opened #34 "Per-user amavis policies not created"
Hi,

I enabled Per-Domain and Per-user training and was expecting that the user being added to amavis.users, and a policy created in amavis.policy table the first time the user marks a message as spam or ham from the web interface.

What I see in practice:

1. The username appears in spamassassin.bayes_vars, confirming that sa-learn was called with the correct username.
2. In amavis.users, no entr

[2016-06-05 18:36] zoc commented on #34
Ok, in fact it works... I was expecting that a simple user could activate his own database by reporting from his account. In fact, user database activation must be done by the domain administrator by first reporting a message.

Maybe this information should be added somewhere in the readme, because it could avoid confusions and disappointments ;)

[2016-06-06 14:15] tonioo commented on #34
@zoc That's sound strange... Can you tell me how you activated manual learning ? (maybe a screenshot of your settings ?)

[2016-06-06 16:03] zoc commented on #34
Sure, see attached screenshot.

![modoboa_settings](https://cloud.githubusercontent.com/assets/116463/15828783/fcbb1a0e-2c10-11e6-9296-7e9232da91e0.png)

[2016-06-07 09:41] tonioo commented on #34
@zoc Could you try the fix I pushed please ?

[2016-06-07 16:03] zoc commented on #34
I confirm that the issue does not occur anymore with your fix.

Thank you.

[2016-06-09 14:42] tonioo opened #35 "Problem when converting from byte to UTF8"
_From @carragom on November 13, 2015 5:51_

Hi there,

I have some data in my amavis database that's rendering modoboa unusable. All parts of the system throw an internal server error. I have traced the issue to the file `modoboa/extensions/amavis/sql_conector.py`. The problem happens with all queries that use the function `convert_from(maddr.email, 'UTF8')`. Turns out if I manually run the query

[2016-06-09 14:42] tonioo commented on #35
Hi,

as for the Quarantine.mail_text field, we could try to use a BinaryField and to remove all calls to convert_from.

Do you think you could try it ?

[2016-06-09 14:42] tonioo commented on #35
@carragom ping

[2016-06-09 14:42] tonioo commented on #35
_From @carragom on December 18, 2015 19:39_

Hi @tonioo sorry for the absence. At least in version `1.2.2` `Quarantine.mail_text` already is a `BinaryField` as shown [here](/tonioo/modoboa/blob/1.2.2/modoboa/extensions/amavis/models.py#L165) or am I looking at the wrong place ?. Maybe I did not understand what you meant ?

[2016-06-09 14:42] tonioo commented on #35
Hi @carragom, your problem seems to be related to the email field:
https://github.com/modoboa/modoboa-amavis/blob/master/modoboa_amavis/models.py#L20

[2016-06-09 14:42] tonioo commented on #35
_From @carragom on December 18, 2015 22:25_

@tonioo Yes that's the field causing the problems. Like I said, I see two options to fix this:

1- Keep the conversion in the database as it's now, but ask the database to convert to  `LATIN1` instead of `UTF8` in all occurrences of the `convert_from` function [here](https://github.com/modoboa/modoboa-amavis/blob/master/modoboa_amavis/sql_connector.py).

[2016-06-09 14:42] tonioo commented on #35
@carragom Using LATIN1 as encoding won't cover all cases. I guess we will encounter the same issues with another encoding soon. I still think a BinaryField is the right answer and I do hope Django uses the appropriate field when it generates queries. The manual conversion you see in the current code would also disappear.

[2016-06-09 14:42] tonioo commented on #35
@carragom BTW, the right place for this issue is into the https://github.com/modoboa/modoboa-amavis repository.

[2016-06-09 14:42] tonioo commented on #35
_From @carragom on January 27, 2016 23:40_

@tonioo I agree that LATIN1 does not cover all cases and it's far from ideal. The one thing for sure is that this problem renders Modoboa unusable, all of it, not just the amavis module. So this should be fixed in any way necessary.

It might be possible that amavis does not intent for these fields to be used as text, from the amavis [*README.sql-pg.txt*

[2016-06-09 14:42] tonioo commented on #35
Please look at this thread (the end of the page is interesting):
https://code.djangoproject.com/ticket/2417
And this commit (django source code):
https://github.com/django/django/commit/8ee1eddb7e148de89aebde9e68da495633fc1ec9

And tell me what do you think :)

[2016-06-09 14:42] tonioo commented on #35
_From @carragom on January 29, 2016 19:2_

Yes using a `BinaryField` is definitively an option see  [here](https://github.com/tonioo/modoboa/issues/782#issuecomment-165911029). But switching to `BinaryField` alone is not enough. Every custom query using `convert_from` needs to be replaced  with something that fetches the data from the table and filter's it on the python side. This means probably r

[2016-06-22 08:20] #34 closed

[2016-10-12 13:02] tonioo opened #36 "Modoboa 1.6.1 compatibility"
Upgrade for compatibility.

[2016-10-12 13:50] #36 closed

[2016-10-20 16:22] RaymondSchnyder commented on #8
is this still a thing? im struggling with DKIM and modoboa at the moment.... :/

[2016-10-20 18:25] tonioo commented on #8
@RaymondSchnyder what's your problem ?

[2016-11-01 18:14] JeroenvO opened #37 "Documentation readthedocs"
The documentation in the git readme is different than http://modoboa-amavis.readthedocs.io/en/latest
The documentation on readthedocs is insufficient.

[2016-11-05 11:42] RaymondSchnyder commented on #8
@tonioo My problem is that every mail i send is marked as spam, i added DMARC and DKIM but it doesnt work whatever i do :/

[2016-11-05 12:47] tonioo commented on #8
@RaymondSchnyder Add SPF too and check that your server IP is not blacklisted.

[2016-11-05 22:45] RaymondSchnyder commented on #8
My server is not blacklisted and i added SPF from the beginning.

[2016-11-27 12:21] tonioo opened #38 "Per Domain Bayes Learning"
_From @stalks on November 26, 2016 20:48_

When I try and learn a mail using domain, the web panel doesn't respond.

![issue](http://image.prntscr.com/image/2a227ca180d04c788a84984629008d0b.png)

When clicking Validate nothing happens. If I select global database, it will work.

_Copied from original issue: tonioo/modoboa#976_

[2016-11-27 12:21] tonioo commented on #38
_From @stalks on November 26, 2016 21:27_

Some further investigation finds a 500 error on the request

`POST /quarantine/learning_recipient/ => generated 16141 bytes in 51 msecs (HTTP/1.1 500) 4 headers in 146 bytes (1 switches on core 0)`

[2016-11-27 12:21] tonioo commented on #38
Can you activate the debug mode please? (set DEBUG to True inside settings.py and reload uwsgi)
You should get a complete error.
By the way, this error is not related to modoboa but to modoboa-amavis. I'll move it to the right repository.

[2016-12-03 16:37] stalks commented on #38
No extra error with DEBUG set to True. I also tried loading uwsgi directly (took some work to figure out how) with honour-stdin parameter... no extra output.

[2016-12-05 13:53] tonioo commented on #38
That's strange... Are you using a javascript debugger?

[2016-12-13 08:51] tonioo opened #39 "Using modoboa just as a mailfilter quarantine management no webmail"
_From @stevie on November 16, 2016 13:16_

Hi,

I have installed this and it looks great for what im trying to do, great work!  However, I would not like the webmail component installed as im just trying to use it as a spam/virus filter/quarantine management tool.  So using the modoboa installer I have removed this from the installer.cfg

For example:

extensions = modoboa-amavis modoboa-pdfcreden

[2016-12-13 08:51] tonioo commented on #39
@stevie  what kind of notification are you talking about ?

[2016-12-13 08:51] tonioo commented on #39
@stevie ping

[2016-12-13 08:51] tonioo commented on #39
_From @stevie on November 28, 2016 23:4_

Hi I'm basically wanting admin notifications for blocked email messages sent to either the specific admin for the domain or for domains with users that know the difference between a spam and real mail self release notifications. This seems to work when using a web account on the system but does not seem to work when the modoboa-webmail component is not ins

[2016-12-13 08:51] tonioo commented on #39
Actually, Modoboa itself does not send notifications to users (the only one concerns pending release requests). The notifications you're talking about are sent by amavis depending on your configuration.

[2016-12-18 19:07] jyrkij commented on #8
Quick question: while waiting for official support is it safe to configure DKIM manually with modoboa?

[2016-12-19 14:02] tonioo commented on #8
What do you mean? Generate DKIM keys and configure amavis?

[2016-12-20 07:50] jyrkij commented on #8
Yes. At least mailinabox overrides configuration files each time it is updated. How does modoboa handle config files?

[2016-12-20 07:52] tonioo commented on #8
Actually Modoboa itself does not modify any config file. Configuration files are only touched when you run the installer and it does not support updates yet.

[2017-01-02 11:22] pavinjosdev commented on #38
Experiencing same 500 error with Domain/User database. Global database works fine.

[2017-01-04 19:36] pavinjosdev commented on #38
@tonioo hth :)
![2016-12-28_12h11_38](https://cloud.githubusercontent.com/assets/11430516/21656157/3cbc4dc8-d2bd-11e6-91e2-d0c0213efc6a.png)

[2017-01-05 08:02] tonioo commented on #38
@pavinjosdev I need the content of the Response tab ;)

[2017-01-06 14:15] tonioo commented on #38
Thank you! I just pushed a fix, could you try it please?

[2017-01-06 14:17] tonioo commented on #37
@JeroenvO What do you mean by insufficient? Should I add the readme content to the documentation?

[2017-01-06 14:43] pavinjosdev commented on #38
Applied the fix and getting "No recipient found". This is for a relay domain. Global database works fine; Domain/User database gets this error/note.

![modoboa-amavis2](https://cloud.githubusercontent.com/assets/11430516/21720791/6ba81f90-d425-11e6-9bc0-f5960b2350e4.PNG)

Server Response, Debug on:

[code]

[2017-01-06 17:03] tonioo commented on #38
Looks like I haven't thought about this use case. I have to improve the way learning is done.

[2017-01-07 10:42] JeroenvO commented on #37
Yeah, that would be nice. Although the way to add a plugin to modoboa is obvious, it is not in the readthedocs documentation at this moment.

[2017-01-16 10:48] JayBeRayBearGun opened #40 "trivial question"
This must be truly trivial but I just want to check:

In the webinterface amavis settings, the notifications sender needs to be an exsisting local email address right? like admin@mydomain.com or amavisadmin@mydomain.com or notifications@mydomain.com

(definitely not notification@modoboa.org right?)

[2017-01-16 11:17] tonioo commented on #40
Yes but people are not supposed to reply to notifications so you can even set a non-existing address. Just make sure it uses one of your domains (something like no-reply@mydomain.com).
I'll change the default value soon.

[2017-01-16 11:18] #40 closed

[2017-01-19 14:58] dragon2611 opened #41 "Spamfilter improvements"
These are things I'd like to see with the spamfilter if possible in future releases.

1) Notification don't appear to work at the moment, means manually logging in and checking the quarantine, ideally an email sent at a certain time showing an quarantine summery

2) Feedback loop, there doesn't seem to be any obvious way to tell the spam filter it missed something, I don't want all clean emails in

[2017-01-19 15:30] tonioo commented on #41
About 1., are you talking about a notification sent to administrators and giving them a summary of the quarantine content ?

About 2., I personally use the spam plugin of dovecot to learn from my Junk folder and it seems to work well but I don't have a lot of traffic. Why do you say it is not ready for production ?

About 3., I guess you're talking about amavis builtin white/black lists ?

[2017-01-19 15:45] dragon2611 commented on #41
1) Self service mode is on so in this case I'd expect the users to get them, I'd also expect the time they are sent to be configurable.

2) This is was the response to me from the service provider (The server in question is managed by them)

3) Indeed but I don't believe there is a frontend for this at the moment, it's possible I just missed it.

[2017-01-19 21:05] #10 closed

[2017-01-19 21:08] tonioo commented on #41
So, I think 1. corresponds to #3 and 3. corresponds to #2.

About 3., I don't have any other idea to achieve the learning yet...

[2017-01-20 08:49] dragon2611 commented on #41
Maybe a Spam@domain mailbox, that said most people would forward to that so headers are unlikely to be preseved

[2017-01-20 10:45] tonioo commented on #41
Looks a bit complicated for regular users... Maybe a button added to the webmail would be a better answer?

[2017-01-20 14:28] dragon2611 commented on #41
Fine if people are actually using the webmail, but if they're using a 3rd party webmail or IMAP that won't really work.

[2017-01-20 14:37] tonioo commented on #41
Indeed. I suggest you give a try at the spam plugin for dovecot, it's pretty simple to setup and you'll make your own opinion. do you have a lot of users?

[2017-01-20 14:38] dragon2611 commented on #41
I'll ask the host (I don't have SSH access to that box to do it myself)

[2017-01-23 15:24] tonioo commented on #38
@pavinjosdev Could you try the fix I just pushed please?

[2017-01-23 17:15] pavinjosdev commented on #38
@tonioo Getting Internal Server Error after update (global database works fine, domain database showing 500 internal server error).

Response with Debug on:

[code]

[2017-01-23 20:24] tonioo commented on #38
@pavinjosdev Is it better now?

[2017-01-23 21:34] pavinjosdev commented on #38
Yes; working now :)

[2017-01-24 09:22] #38 closed

[2017-02-08 12:35] tonioo opened #43 "Self service mode is broken"
The self service mode is currently broken due to a Django 1.9 incompatibility.

[2017-02-08 12:36] #43 closed

[2017-02-08 12:53] tonioo opened #44 "Self service: wrong redirect when user is already connected"
When a user tries to manage a quarantined message using the self service mode, he will be redirect to a wrong address if he is already connected to modoboa.

[2017-02-08 13:11] #44 closed

[2017-02-08 13:15] #37 closed

[2017-02-12 16:58] pavinjosdev commented on #41
Hi @tonioo  Self service mode is not working as expected. Can confirm the settings in admin panel are being applied correctly since there are no errors in the console output with debug turned on. The actions aren't performed probably because the background job fails. Nothing of note in mail/uwsgi logs. Any thoughts on troubleshooting this? :)

[2017-02-13 08:26] tonioo commented on #41
@pavinjosdev I've made some fixes about self service last week. Have you tested them? (last modoboa-amavis release)

[2017-02-13 12:16] pavinjosdev commented on #41
Yes, applied [fix 43](https://github.com/modoboa/modoboa-amavis/issues/43) and still no emails sent.

[2017-02-13 12:40] tonioo commented on #41
Can you describe the modifications you've done to your amavis config? Are you running 2.8 at least?

[2017-02-13 14:02] pavinjosdev commented on #41
No mods to amavis other than a few lower SA thresholds & whitelist in 50-user; syntax & config files are correct. Version: amavisd-new-2.10.1 (20141025)

[2017-02-13 20:34] tonioo commented on #41
Ok, so it means notifications are disabled. Look at ``$warnbannedrecip`` or ``$warnviruscecip`` flags as examples of notification.

[2017-02-13 22:33] pavinjosdev commented on #41
Ty! That fixes it :)

[2017-02-15 09:41] hobgoblinsmaster opened #45 "qcleanup task should slice messages deletion"
As I take many time to upgrade from 1.0.6 to latest version (1.0.11) and this old version had a bug in qcleanup code, I (without really view it until a few days ago) accumulated 180 days of quarantine.
When, after the update I wanted to launch a qcleanup (with 30 days of retention), the script began to grow in ram (up to 21G when it was oom-killed rollbacking the cleanup transaction). In addition,

[2017-02-20 06:32] pavinjosdev opened #46 "Cannot perform action on quarantined mail"
Cannot delete/release/mark as spam/not spam this quarantined message. No issues with other quarantined messages. Apologies if its related to https://github.com/modoboa/modoboa-amavis/issues/35

Mail headers:

[code]

Response with Debug on:

[code]

[2017-02-21 10:13] tonioo commented on #46
@pavinjosdev No, looks like a different issue. Have you taken any action on this message?

[2017-02-21 10:32] pavinjosdev commented on #46
@tonioo Tried to release, delete and mark it as spam or not spam from modoboa-amavis but not directly from cmd/amavis. should i try that or do you need anything else to narrow down the issue?

[2017-02-21 10:48] tonioo commented on #46
Problem is the database is in an inconsistent state. The message you're trying to act on is not complete and I don't know why...

[2017-02-21 11:25] pavinjosdev commented on #46
Released the message from cmd just fine; so this is not related to amavisd-release. Could it be the illegal char in RCPT TO `<"brhclearance@2wglobal.com >>=brhclearance"@2wglobal.com>,` thats not handled properly?

Excerpt from response above:
[code]

[2017-03-03 10:40] tonioo opened #47 "Alias creation may fail when manual learning is enabled"
When manual learning is enabled (user level), creating an alias using the address of an existing mailbox (being deactivated for example) will fail.

[2017-03-03 10:47] #47 closed

[2017-03-03 10:49] tonioo commented on #41
@dragon2611 any news?

[2017-03-03 10:51] tonioo commented on #46
@pavinjosdev Could I have an access to this db / modoboa instance?

[2017-03-03 11:35] pavinjosdev commented on #46
The issue seems to have been a temporary error as the message is now gone from quarantine - probably due to the weekly quarantine cleanup. If you want DB, I can mail it otherwise feel free to close this.

[2017-03-03 12:08] tonioo commented on #46
Let's close it for now.

[2017-03-03 12:08] #46 closed

[2017-03-03 15:50] tonioo opened #49 "Impossible to release/delete a message"
Due to a regression introduced by django 1.10 support.

[2017-03-03 15:51] #49 closed

[2017-03-03 18:43] dragon2611 commented on #41
Spam seems to be going to the spam folder and thus manageable via my IMAP client and I don't really get much else so Haven't seen notifications other than when we used a testing service.

I don't login to quarantine nearly as much these days

Slowly but surely training the spamfilter to my preferences.

[2017-03-04 12:53] tonioo commented on #41
Ok, so I'll close this issue since others already exist to cover your questions.

[2017-03-04 12:53] #41 closed

[2017-03-09 21:10] tonioo opened #50 "Feature: quarantine integration into rspamd"
_From @mlzummo on March 9, 2017 18:0_

Feature: quarantine integration into rspamd

_Copied from original issue: modoboa/modoboa#1069_

[2017-03-13 14:06] kryskool opened #51 "[BACKPORT] Alias creation may fail when manual learning is enabled"
See #47

[2017-03-13 14:12] kryskool commented on #51
Fix in [766ec4982eea22a845f15a2e37526001e646bb91](https://github.com/modoboa/modoboa-amavis/commit/766ec4982eea22a845f15a2e37526001e646bb91)

[2017-03-13 14:12] #51 closed

[2017-03-21 23:56] pavinjosdev opened #52 "Manual learning options missing/not available"
# Impacted versions

* Modoboa: 1.7.2; Modoboa Amavis: 1.1.1
* Webserver: Nginx/Uwsgi

# Current behavior

Modoboa > Parameters > Amavis is missing per-domain and per-user manual learning options.

# Video/Screenshot link

Attached,
![1](https://cloud.githubusercontent.com/assets/11430516/24176117/6e3ffcd2-0e9a-11e7-9763-a8199ae744d4.PNG)

[2017-03-30 13:59] #52 closed

[2017-03-30 20:18] tkald commented on #52
Under the quarantine I still don't have relevant buttons ("not spam") to manually train spammassassin.
I do have remote spammassassin and remote mysql quarantine database

![image](https://cloud.githubusercontent.com/assets/8062491/24524236/839a8db2-159e-11e7-80cd-807ff639e373.png)

And quarantine buttons
![image](https://cloud.githubusercontent.com/assets/8062491/24524336/d32e764a-159e-11e7-9a0b-

[2017-04-03 11:46] tonioo commented on #52
@tkald Could you try the fix I just pushed please?

[2017-04-04 00:20] tkald commented on #52
@tonioo Yes, now I have missing button:

![image](https://cloud.githubusercontent.com/assets/8062491/24632280/39302512-18cc-11e7-9c12-ce7e59d0b2fc.png)

My setup is however bit unconventional - I use only amavis quarantine part (no domains/identities in modoboa database). So per-domain manual learning does not work.

[2017-04-04 06:53] tonioo commented on #52
@tkald Indeed, I suggest you create domains if you want to use this feature.

[2017-04-04 07:37] tkald commented on #52
I did create domain to modoba, but got error **[object Object]** if I chose recipient global database and no reaction if I chose "domain's database".

[2017-04-12 04:37] pavinjosdev commented on #52
@tkald Please provide Debug response. (Enable Debug in settings.py)

[2017-04-16 19:39] mundschenk-at opened #53 "Releasing a message fails with Python error "ValueError""
I can send the release request as a user without any problem, but when as admin I try to actually release the message, I get a Python exception:

`ValueError at /quarantine/release/v4bkPCreu7EE/`

[code]

From the backtrace:
[code]

[2017-04-17 15:36] mundschenk-at commented on #53
I've updated the backtrace information to include the anonymized request object. My Python skills are lacking, but it looks like [the code](https://github.com/modoboa/modoboa-amavis/blob/master/modoboa_amavis/views.py#L285) somehow expects the recipient to be encoded in the `mail_id` separated by a space (while it is actually provided in the in `rcpt` GET variable).

[2017-04-17 20:54] mundschenk-at commented on #53
Sorry, I didn't read the actual body returned by the original call from the app and didn't notice that directly calling the failed request URL missed some context within the app. The actual cause of the problem was a permissions error on the Amavis socket.

[2017-04-17 20:54] #53 closed

[2017-04-18 19:54] mundschenk-at commented on #52
@pavinjosdev @tonioo @tkald Probably the same issue here. Debug response indicates a path or permissions problem:
[code]

However, `spamc` can be found in `/usr/local/bin/spamc`. This is with `Is Spamassassin local?` set to `Yes`.

[2017-04-18 20:15] mundschenk-at opened #54 "Manual learning not working"
Problem : Marking messages as spam/ham fails (continued from #52).

Apparently, there are two problems with local SpamAssassin installations
1. The check for `sa_is_local` [uses comparison with the string "yes" but contains a boolean](https://github.com/modoboa/modoboa-amavis/blob/master/modoboa_amavis/lib.py#L106).
2. The `exec_cmd` call for the `_learn_cmd` fails due to some path/permissions iss

[2017-04-18 20:31] mundschenk-at commented on #54
I did get the commands to run by adding `/usr/local/bin/` to the command names.

[2017-04-20 09:48] #54 closed

[2017-04-20 09:48] tonioo commented on #54
The path issue can be fixed at system level.

[2017-04-20 09:50] mundschenk-at commented on #54
Thank you! 2. seems to have been an misconfiguriation on the uWSGI side (apparently you need to explicitely set the PATH variable),

[2017-04-27 14:45] ZUNbado commented on #4
Hi, is there any advance on this?

I want to use these functionality to filter mails before send it to final destiny (relay), and i need to create policies per user that not exist in database.

Kind regards

[2017-04-30 12:25] tonioo commented on #4
@ZUNbado Can you explain your need a bit more please? I don't know if it's the same than the one addressed by this issue...

[2017-05-05 15:47] tonioo opened #55 "Handle user extensions when filtering quarantine"
User defined aliases (using extension of the form user+something@domain.test) are not handled. The result is a user can't see emails sent to such addresses in his quarantine.

[2017-06-01 08:38] tonioo opened #56 "Quarantine list empty after deletion of multiple messages"
_From @TacoScheltema on May 26, 2017 7:23_

# Impacted versions

* Modoboa: 1.7.4
* Amavis Frontend: 1.1.2
* installer used: Yes
* Webserver: Nginx
* Browser used: Chrome on OSX 58.0.3029.110 (Official Build) (64-bit)

# Steps to reproduce
when there are multiple messages in quarantine (in my case there were over 60), then using the selector at the top of the page to select all messages with bad h

[2017-06-01 08:38] tonioo commented on #56
_From @TacoScheltema on May 26, 2017 7:43_

I just tested this with the same versions as mentioned above with 2 messages in quarantine. I deleted one message, the second messages stays on the page as expected. Will test some more this weekend.

[2017-06-01 08:38] tonioo commented on #56
_From @TacoScheltema on May 27, 2017 13:37_

Tested again today, this time with safari Version 10.1 (12603.1.30.0.34) on OSX. About 100-120 messages in quarantine. selected 25 messages and deleted those. the  remaining messages stay visible as expected. then repeated the same action on chrome on OSX; the quarantine page is empty. a reload of the quarantine page will show the remaining messages aga

[2017-06-01 08:38] tonioo commented on #56
Thank you for reporting, I'll look into it asap.

[2017-06-03 07:56] stalks opened #57 "Add hover descriptions for the filter types on Quarantine"
I didn't understand what the filters at the top right of the Quarantine page.

C, S, V, H, M, B

I looked at the HTML title attribute to find out what they meant

**C**lean
**S**pam
**V**irus
Bad **H**eader
Bad **M**ime
**B**anned

Could add delayed hover tooltips to show what they mean for users.

[2017-06-03 08:31] stalks commented on #57
Actually, would be good to add this to the left hand side column of the same type in the results.

I can see another type of "Y", which according to tests.py is "bypass_virus_checks"? Can there also be a filter for this? I don't understand what this one is for, and I have lots of them.

[2017-06-03 08:46] tonioo commented on #57
According to Amavis documentation:
[code]
Looks like new values have been added since I implemented this feature...

[2017-06-28 14:11] msssltd opened #58 "Add hover expansion of from and subject fields"
In Quarantine web page, from and subject fields are shortened with ellipses [...] hiding pertinent information.  Would be nice if hovering revealed the full text within the field.

[2017-06-30 15:14] tonioo commented on #56
@TacoScheltema I can't reproduce this issue... would be really helpful if you could retry this on chrome with a javascript debugger open, I guess there is a javascript issue behind this.

[2017-06-30 15:17] #57 closed

[2017-06-30 15:28] #58 closed

[2017-07-02 07:29] TacoScheltema commented on #56
@tonioo, I just tried this again with the debugger open but couldn't reproduce it either. I'll have to wait till my quarantine has a substantial amount of messages, then I'll try again.

[2017-07-06 13:59] halittiryaki opened #60 "Policy matching query does not exist"
Domain deletion fails with:

for what I could understand so far from another [issue ](https://github.com/modoboa/modoboa-amavis/issues/19), the amavis db has to contain a policy and user record for a domain.

which I could find in place:

user record:

policy record:

then guessed, it might be the missing policy-id and run an update:
`update policy set id=11 where policy_name='@asdfasf.de';`

whic

[2017-07-06 17:56] halittiryaki commented on #60
ok, got it:

I applied the schema from amavis:

but didn't see this lines for SQLite setups:

[altered the tables](https://stackoverflow.com/a/10464323) and problem solved

[2017-07-06 17:56] #60 closed

[2017-07-06 20:53] evilham opened #61 "Bug: "Sorry, internal error" when amavis db is not configured [to confirm]"
I'll write this here mostly to document it for future self to check:

When this extension is active and amavis db has not been set up, the web interface seems to fail horribly and there's no indication as of why.

What I ended up doing was running with `manage runserver` and `DEBUG = TRUE` in `settings.py`. This hinted that the extension needed more configuration.

If (when?) I confirm this, the s

[2017-07-08 10:46] jaketame commented on #8
Another one too look at is https://github.com/mailcow/mailcow

https://github.com/mailcow/mailcow/blob/master/opendkim/conf/opendkim.conf
https://github.com/mailcow/mailcow/blob/master/misc/mailcow-dkim-tool

[2017-07-19 12:17] floreal797 opened #62 "Support of Python 3.x"
Modoboa CORE is now compatible with python3 (version 1.8) but this plugin still not work with it. It's near a core plugin, at least if we install amavis (very good frontend).

I can't use modoboa with python2 (as my web server is apache and my other websites hosted in my server are in python 3 [mod-wsgi and mod-wsgi-py3 are mutually exclusive]), so I wait for python 3 compatible plugins for modobo

[2017-07-20 13:03] #45 closed

[2017-07-28 19:57] danielsatanik opened #63 "Error opening webmail"
Opening webmail-tab displays a red error: "Sorry. An internal error occured."

<img width="1675" alt="screen shot 2017-07-28 at 21 56 21" src="https://user-images.githubusercontent.com/2507586/28734115-9d53150e-73df-11e7-9b16-e204371691b6.png">

Is there a way to provide more infos on what went wrong?

[2017-07-29 08:23] tonioo commented on #63
What versions (modoboa and webmail) do you use?

[2017-07-29 10:16] danielsatanik commented on #63
I'm using 1.8.2 modoboa and webmail is 1.2.0 now. I removed amavis (because I actually don't need it) and updated all the extensions. This is working now, so you can close it.

[2017-07-29 10:16] #63 closed

[2017-10-04 11:47] sNuuFix opened #64 "Database query speed for scalable mailservers"
Hello,

we are optimizing the speed of Modoboa's Quarantine tab for a server with 2000+ messages in a single workday and when we reach a few thousands of messages, the database query starts to time out the ajax requests for email_page. By studying the query log we found out multiple subqueries generated by Django's ORM and stumbled upon one filter that causes most of the slowness [by this line](ht

[2017-10-12 18:03] oconshaw opened #65 "clamav"
Using modoboa 1.8.2

I don't think clamav is working quite right.  When I check the maillog I see nothing about infected messages even though I have sent test EICAR test files to my email account.  The files reach my email account without being flagged at all.
I can see that clamav is running, but it doesn't seem to be working:
amavis     883     1  0 07:34 ?        00:00:23 /usr/sbin/clamd -c /et

[2017-10-19 17:04] tonioo commented on #35
@carragom So, BinaryField is definitely not the answer because we can't filter on it... I finally added a new setting to configure the encoding to use (default value is now LATIN1) and I removed some useless convert_from calls.

[2017-10-19 17:49] #35 closed

[2017-10-19 17:50] tonioo commented on #65
@oconshaw How did you install modoboa?

[2017-10-19 17:51] tonioo commented on #56
@TacoScheltema Is it still happening?

[2017-10-19 18:51] tonioo commented on #64
@sNuuFix  This line actually filters the queryset to include quarantined messages only, which is what we want. Can you tell me how you installed modoboa and what database engine you are using?

[2017-10-19 18:52] TacoScheltema commented on #56
Hi Tonioo,

It is still happening, see the link below for a screen recording. Unfortunately I didn't have the javascript debugger on at the time.
To reproduce I started with a quarantine page with 60-70 items of mixed type (in my case spam messages, bad header messages and a bad mime message), using the select drop down at the top to select all messages with bad headers and then delete those resul

[2017-10-19 19:26] tonioo commented on #56
@TacoScheltema Thank you for the screen recording, I think I understand the issue now.
If you look at the url, a ``page`` argument is added after the removal and set to 2. I guess there are not enough quarantined messages anymore to fill a second page so this is why you see this message.

[2017-10-19 20:26] TacoScheltema commented on #56
That makes sense.
Would it be feasible to set the page to 1 after deletion of multiple messages and leave it as is when deleting a single message?

[2017-11-06 12:01] stooj opened #68 "Can't delete email from quarantine"
I am unable to delete a particular email from the quarantine. Perhaps it is because of the unusual characters in the address?

[code]

[2017-11-10 08:49] tonioo commented on #65
@oconshaw ping

[2017-11-10 15:19] oconshaw commented on #65
I installed it per your instructions using the installer.

[2017-11-10 15:30] tonioo commented on #65
@oconshaw Can you check the ``/etc/amavis/conf.d/15-content_filter_mode`` file please?

[2017-11-10 15:43] oconshaw commented on #65
This is on CENTOS7.  Not sure if that matters in this case.  There is no amavis directory at that location.  Doing a find on the server, there is no file called ‘15-content_filter_mode’

There is a folder called amavisd.  And in there is an amavisd.conf file.  Is that what you want?

From: Antoine Nguyen [mailto:notifications@github.com]
Sent: Friday, November 10, 2017 9:31 AM
To: modoboa/modoboa-

[2017-11-10 15:51] tonioo commented on #65
My bad, the configuration file is ``/etc/amavisd.conf``. At the begining of this file, you should see something like ``@bypass_virus_checks_maps = (1);``. Is it commented or not?

[2017-11-10 16:09] oconshaw commented on #65
It is commented.

From: Antoine Nguyen [mailto:notifications@github.com]
Sent: Friday, November 10, 2017 9:52 AM
To: modoboa/modoboa-amavis <modoboa-amavis@noreply.github.com>
Cc: oconshaw <oconshaw@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [modoboa/modoboa-amavis] clamav (#65)

My bad, the configuration file is /etc/amavisd.conf. At the begining of this file, you should see so

[2017-11-10 16:11] tonioo commented on #65
So clamd should be used... Can you check amavis startup logs to see if it finds clamav?

[2017-11-10 16:14] #62 closed

[2017-11-10 16:22] tonioo commented on #68
Indeed, I think it is related to this ``\"celiade.k&amp;eacute;rouaille\"@example.co.uk``. Can you tell me how it is displayed when you go to the quarantine? Can you send me a screenshot?

[2017-11-13 15:33] evilham commented on #61
This is confirmed.

[2017-11-15 13:58] stooj commented on #68
Sure thing

![2017-11-15-135127_6640x1800_scrot](https://user-images.githubusercontent.com/430541/32839571-c57cfed6-ca0c-11e7-9c5d-3d928c9a2e97.png)

![2017-11-15-135639_6640x1800_scrot](https://user-images.githubusercontent.com/430541/32839674-10d07c46-ca0d-11e7-8493-c47bc470e37a.png)

[2017-11-16 09:49] #61 closed

[2017-12-11 17:51] skandragon opened #76 "Marking too many messages as spam at once causes "internal error""
When marking around 50 messages as spam at once, it causes an error to be reported to the UI.

[2017-12-11 17:52] skandragon opened #77 "No feedback on progress while marking messages as spam"
While marking messages as spam, there is no feedback that it's doing anything, causing the user to wonder if they clicked or not, and usually clicking again.

[2017-12-11 17:55] skandragon opened #78 "A way to bulk-learn spam"
I am using Modoboa as a UI to a filtering mail server, where the final delivery is made on another server.  I would like to have a way to submit spam email, ideally via a web interface API call, to mark it as spam.

I can train people to move things into a specific imap folder, and run a script to upload those spam messages periodically, to properly train their filter.

Also, bootstrapping may be

[2017-12-14 16:02] tonioo commented on #78
@skandragon Can you describe the use case of this API a bit more please?

[2017-12-14 16:05] tonioo commented on #77
Running the learning process synchronously is a pretty bad idea but it was quick to implement... It runs fine for 1/2 messages but that's all. An asynchronous mechanism would be better but it would require to introduce new dependencies to Modoboa (such as RQ or Celery)...

[2017-12-22 05:19] skandragon commented on #77
Agreed, it's hard, but right now the experience is it doesn't really work, so...

[2017-12-22 05:20] skandragon commented on #76
Nope, that's it.  I suspect it's when you select too many messages and a command line argument is exceeded.

[2017-12-22 05:21] skandragon commented on #78
The use case is for people to move things to a "this is spam" folder, and have some system process take them and submit them.  This way, people do not need to go to the UI to provide feedback on spam (and ham most likely) to get the benefits of a well trained bayesian filter.

[2017-12-22 09:30] tonioo commented on #78
If you're using dovecot, I think you can already do that using dovecot-antispam plugin and spamc (the spamassassin client).

Otherwise, an API could indeed be useful.

[2017-12-22 09:32] tonioo commented on #77
It would also require some work... Do you manage a big mail server?

[2017-12-27 02:18] fyfe commented on #76
The next release of modoboa that includes modoboa/modoboa#1336 should help to find the cause. When enabled it'll email the admin a python stack trace which should point out what's causing this.

[2018-01-12 08:27] tonioo opened #85 "Settings are not translated"
See https://github.com/modoboa/modoboa/issues/1349.

[2018-01-17 22:35] fyfe commented on #85
fixed #86

[2018-01-17 22:35] #85 closed

[2018-01-24 07:43] #55 closed

[2018-01-27 03:53] Renatov opened #92 "Problems with the configuration"
Hi in the modoboa_amavis module, there is a problem when you want to save the configuration data, your configuration, the browser gives this response and nothing is recorded,

An invalid form control with name = 'modoboa_radicale-server_location' is not focusable.

[2018-01-29 11:31] Rhiannon81 opened #94 "Internal Error for super administrators"
After upgrading Modoboa and all plugins to the latest version, super administrators cannot access the quarantine anymore; an internal error occurs.
Setting debug to true strangely doesn't give any more info.
Quarantine works as intended for other user roles.

[2018-01-30 15:16] tonioo commented on #94
@Rhiannon81 With DEBUG set to True, use a javascript debugger to inspect responses from the server please.

[2018-01-30 16:45] Rhiannon81 commented on #94
Hi. Last night I finally managed to see the full response in the javascript debugger, and it appears to be the exact same problem as [this issue](https://github.com/modoboa/modoboa/issues/1377).

I tried adding `AMAVIS_DEFAULT_DATABASE_ENCODING = 'utf8' `to `settings.py`, trying both before and after `from modoboa_amavis import settings as modoboa_amavis_settings
modoboa_amavis_settings.apply(glob

[2018-01-30 16:55] fyfe commented on #94
See https://github.com/modoboa/modoboa/issues/1377#issuecomment-361659103

[2018-01-30 17:07] fyfe commented on #94
If I can find out which function failed in modoboa I can improve the error handling.

[2018-01-30 20:36] florealcab opened #96 "modoboa-amavis not working after upgrade"
I upgrade modoboa-amavis 1.1.2 to 1.2.1 along with the upgrade from modoboa 1.9.1 to the lastest 1.10.1.

After the upgrade, modoboa is broken with this error:
django.db.utils.ProgrammingError: (1146, "Table 'modoboa.users' doesn't exist")

And similar errors with some other tables from amavis. For an unexpected reason, it search tables on modoboa (default) database, not on amavis database, even i

[2018-01-30 20:39] florealcab commented on #96
Ooooh... I forget a step in the doc, problem solved!! Sorry!!

[2018-01-30 20:39] #96 closed

[2018-01-31 07:38] Rhiannon81 commented on #94
@fyfe I have received another mail encoded with cp-850. Here's the traceback:
[code]

This is the message:

[code]

[2018-01-31 10:35] dasbaumwolltier opened #97 "modoboa-amavis AttributeError"
I recently reinstalled modoboa. After trying to install modoboa-amavis I got this error, when I try to run
[code]
or anything else from modoboa:

[code]

I hope I did not overlook something, but I thing I tried everything described in the manual.
Thanks in advance for your help

[2018-01-31 13:06] florealcab commented on #97
Do you add this in settings.py ?

from modoboa_amavis import settings as modoboa_amavis_settings
modoboa_amavis_settings.apply(globals())

[2018-02-01 08:02] dasbaumwolltier commented on #97
Strange... I don't remember this to be a part of the installation instructions.
Anyway, thanks for the help, now it works.

[2018-02-01 08:02] #97 closed

[2018-02-02 12:42] #94 closed

[2018-02-08 13:04] tonioo commented on #92
Fixed by https://github.com/modoboa/modoboa/pull/1378.

[2018-02-08 13:04] #92 closed

[2018-02-16 16:51] WhereIsPedro opened #101 ""Internal error" with amavis after upgrade from 1.9 to 1.10.0 / 1.10.1 with amavis 1.2.0"
After upgrade from 1.9.0  I have problem wih amavis Quarantine web GUI
Even if I have upgraded to current version and pasted "from modoboa_amavis import settings ....."
On WebGUI Quarantine i have "Internal error" with meu, search and no information about queue / quarantine. Juest blank page below.
Anyway it doesn't matter if Im trying to get Quarantine module on webGUI by admin or user. Both we g

[2018-02-16 16:54] tonioo commented on #101
Have you tried using the 1.2.2 version of the quarantine plugin?

[2018-02-16 17:10] WhereIsPedro commented on #101
Hi Tonioo,
Didn't noticed that 1.2.2 exists :)
I think it's solved.

One more question - is't normal for this 1.2.2 that TAB named "Disbplay bar" with buttons for faster filtering "S,V,B" that now is on the right side ? The same in IE & Chrome

PS. Also one more question: is there any way to change date format from M/D/Y for eg to: D/M/Y ?

**IMAGE:**
Like this: ![tab](http://i65.tinypic.com/2eg75

[2018-02-16 17:18] tonioo commented on #101
Yes, the right bar is normal and to change the date format, just use a different language.

[2018-02-16 17:28] WhereIsPedro commented on #101
Thank you.
Status: SOLVED

[2018-02-16 17:28] #101 closed

[2018-02-22 10:06] Toniob opened #102 "Cannot release mails from quarantine"
Hi,

I'm running modoboa-amavis 1.2.2.
I'm unable to release mails from the quarantine. When I select a mail and try to release it, I've got an error 500 from the url /quarantine/process : [quarantine500.txt](https://github.com/modoboa/modoboa-amavis/files/1747422/quarantine500.txt)

[code]

[2018-03-02 18:45] WASDIT opened #103 "Manual mailadress add to Blacklist"
Hello, how can i add manual a Mailadress or Domain to Blacklist?

The mail is not in the Quarantine.

BR

[2018-03-07 16:17] tonioo commented on #103
@WASDIT For now, this is not something modoboa supports.

[2018-03-07 20:53] #64 closed

[2018-03-09 13:16] tonioo commented on #103
There are different methods to do that, and at different levels (postfix, amavis or on a per-user basis using sieve). What do you want to do exactly?

[2018-03-09 18:33] WASDIT commented on #103
i use in a company of a customer modoboa, and one User in the company, got mails/spams from a Domain which he dont want, for example spam@spam.com he want to block this mail/domain that he not received mails anymore from them.

[2018-03-09 18:38] tonioo commented on #103
Ok, so the best way to do this is to tell this user to create a filter to reject message coming from this address and/or domain.

[2018-03-09 18:49] WASDIT commented on #103
Can i do this from the admin area? or from where?

[2018-03-09 19:05] tonioo commented on #103
The user can create its filter alone, the top right menu contains a filters entry.

[2018-03-11 02:36] ohidxy opened #104 "modoboa-amavis: Relation "msgrcpt" does not exist"
ProgrammingError at /dashboard/

relation "msgrcpt" does not exist
LINE 1: SELECT COUNT(*) AS "__count" FROM "msgrcpt" WHERE "msgrcpt"....

I have two separate postgres DB for modoboa and amavis.
[code]

[2018-03-15 08:14] tonioo commented on #104
@ohid93 How did you install modoboa?

[2018-03-16 00:20] skandragon commented on #76
Awesome, I'll upgrade once it's out.  Thanks!

[2018-03-16 00:21] skandragon commented on #77
No, but even marking a few tens of messages takes many minutes, while the UI makes it unclear if it's even started or not.  I'm OK with it just saying "OK, you clicked the button correctly, we're working on this..." rather than no visible UI changes.

[2018-03-16 02:55] ohid93 commented on #104
I followed the official documentation instructions.

[2018-03-20 17:15] wlma opened #105 "Can't view Mail-Content if mail Quarantined Mail is "bad mime"; decoding error"
Hi all, i've got some Error-messages in Modoboa-amavis (Version 1.2.2) (Quarantine-View)
Logtrace:
`
Request Method: | GET
-- | --
https://<server>/quarantine/getmailcontent/JZoZ4BDn1hM0/
1.11.10
DjangoUnicodeDecodeError
'ascii' codec can't decode byte 0xc3 in position 91: ordinal not in range(128). You passed in 'Kommentar zu Ticket: [TT]:28834 [ELVIE38_EIlog_20180312 und ELVIE56_EIlog_20180312 u

[2018-03-23 03:20] blendi-93 opened #106 "quarantine doesnt work "value should be of type unicode""
Request Method:  GET
https://mail.netzwerkplan.de/quarantine/listing/?sort_order=-date&reset_page=true
1.11.11
AssertionError
value should be of type unicode
/usr/local/lib/python2.7/dist-packages/modoboa_amavis/utils.py in fix_utf8_encoding, line 63
/usr/bin/python
2.7.6
['/usr/lib/python2.7',  '/usr/lib/python2.7/plat-x86_64-linux-gnu',  '/usr/lib/python2.7/lib-tk',  '/usr/lib/python2.7/lib-old'

[2018-04-07 11:45] kryskool opened #107 "Adding subdomain as alias results in traceback"
_From @stooj on September 27, 2017 9:44_

# Impacted versions

* Modoboa: 1.9.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

Create a domain (`example.com`)
After the domain has been created, edit it and add an alias (`mail.example.com`)

# Current behavior

HTTP 500 - internal error

# Expected behavior

A new alias should be created, or an error message explaining that subdoma

[2018-04-07 11:45] kryskool commented on #107
_From @stooj on September 27, 2017 10:0_

It looks like I have two rows in my amavis policy table with the same `policy_name` value.

Could this have been caused by the following actions?

- Create the domain `example.com`
- Create a user `user@example.com`
- Configure the imap-migration plugin to point to an old server
- Delete the user `user@example.com`
- Log in as `user@example.com`, which exi

[2018-04-07 11:45] kryskool commented on #107
_From @stooj on September 27, 2017 10:56_

I've deleted the second record in the policy table, using a django shell.

[code]

Trying again, still get an error, but to do with users now. There is no user, which was presumably deleted during the policy deletion.

[code]

I can now create and delete alias domains. 🎆

When setting up the server, I made one change directly to the database:

[code]

Asi

[2018-04-07 11:47] kryskool opened #108 "Can't open quarantine after upgrade from 1.9.0 to 1.10.1"
_From @lmfrazao on January 29, 2018 17:18_

# Impacted versions

* Modoboa: 1.10.1
* installer used: Yes ?
* Webserver: Nginx

OS: centos 7.4

# Steps to reproduce
Upgrade from 1.9.0

# Current behavior
Can't open quarantine - Internal Error
I have put Debug on, should open the debug log on modoboa ? can't see nothing on log files.

_Copied from original issue: modoboa/modoboa#1377_

[2018-04-07 11:47] kryskool commented on #108
_From @fyfe on January 29, 2018 17:22_

In `settings.py` set `ADMINS` and it'll send error messages to that e-mail address:

[code]

[2018-04-07 11:47] kryskool commented on #108
_From @lmfrazao on January 29, 2018 17:37_

I have done it, but still no emails with debug information, is there any way I can force another error ?

[2018-04-07 11:47] kryskool commented on #108
_From @fyfe on January 29, 2018 17:38_

Try closing you're browser and reopening the quarantine page.

[2018-04-07 11:47] kryskool commented on #108
_From @lmfrazao on January 29, 2018 17:43_

already did it, cleared cache, and tryed other browsers

[2018-04-07 11:47] kryskool commented on #108
_From @fyfe on January 29, 2018 17:47_

Can you access the quarantine page now or does it still show the Internal Error message?

[2018-04-07 11:47] kryskool commented on #108
_From @lmfrazao on January 29, 2018 17:48_

Jan 29 17:47:00 xxxxxxx uwsgi: xxxxxxxx.xxx [pid: 1919|app: 2|req: 3/8] 192.168.33.8 () {54 vars in 1093                                                                          bytes} [Mon Jan 29 17:47:00 2018] GET /quarantine/listing/?sort_order=-date&reset_page=true&_=1517248020399 =>

[2018-04-07 11:47] kryskool commented on #108
_From @lmfrazao on January 29, 2018 17:50_

full lines:
Jan 29 17:49:15 xxxxx uwsgi: xxxxx.xxx [pid: 1919|app: 2|req: 4/18] 192.168.33.8 () {54 vars in 993 bytes} [Mon Jan 29 17:49:15 2018] GET /quarantine/ => generated 9562 byt           es in 461 msecs (HTTP/1.1 200) 5 headers in 163 bytes (1 switches on core 0)
Jan 29 17:49:15 xxxxx uwsgi: xxxxx.xxx [pid: 1919|app: 2|req: 5/19] 192.168.33.8 ()

[2018-04-07 11:47] kryskool commented on #108
_From @fyfe on January 29, 2018 17:54_

Is it only the quarantine page that isn't working?

[2018-04-07 11:47] kryskool commented on #108
_From @lmfrazao on January 29, 2018 17:55_

yes

[2018-04-07 11:47] kryskool commented on #108
_From @fyfe on January 29, 2018 17:59_

 - can you try opening `/quarantine/listing/?sort_order=-date&reset_page=true` you should get a load of JSON.
- can you also post your settings.py
- which database server (and version) are you using?

[2018-04-07 11:47] kryskool commented on #108
_From @lmfrazao on January 29, 2018 18:6_

I'm using mariadb 5.5.56

Just noticed the database is in latin1, shall I convert it to utf-8 ?

It was working before this update, this "The string that could not be encoded/decoded was: o ve�culo." it's "o veículo"

error:

--------------------------

UnicodeDecodeError at /quarantine/listing/

'utf8' codec can't decode byte 0xed in position 12: invalid

[2018-04-07 11:47] kryskool commented on #108
_From @lmfrazao on January 29, 2018 18:7_

Traceback:
Environment:

Request Method: GET
Request URL: https://xxxxxxxx.xx/quarantine/listing/?sort_order=-date&reset_page=true

Django Version: 1.11.9
Python Version: 2.7.5
Installed Applications:
('django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.messages',
 'django.contrib.sites',
 'django.contrib.st

[2018-04-07 11:47] kryskool commented on #108
_From @fyfe on January 29, 2018 18:15_

Can you run the following SQL query on the amavis database:

[code]

[code]

[2018-04-07 11:47] kryskool commented on #108
_From @lmfrazao on January 29, 2018 18:26_

0 rows returned

[2018-04-07 11:47] kryskool commented on #108
_From @lmfrazao on January 29, 2018 18:28_

in module instance.settings on the error I got this:

AMAVIS_DEFAULT_DATABASE_ENCODING | u'LATIN1'

should be utf-8, since the database is on utf-8 ?

where can I change this ?

[2018-04-07 11:47] kryskool commented on #108
_From @fyfe on January 29, 2018 18:35_

Yes if you're database uses utf-8 encoding add `AMAVIS_DEFAULT_DATABASE_ENCODING = 'utf8'` to `settings.py`

Before you change it can you run the next command, there is a deployment check that should checks this is set to the correct value for your database:
[code]

If that doesn't work can you run the following SQL on the amavis database
[code]

[2018-04-07 11:47] kryskool commented on #108
_From @lmfrazao on January 29, 2018 18:36_

the result is: utf8mb4

[2018-04-07 11:47] kryskool commented on #108
_From @lmfrazao on January 29, 2018 18:41_

I get this:

Traceback (most recent call last):
  File "manage.py", line 22, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/lib64/python2.7/site-packages/django/core/management/__init__.py", line 367, in execute_from_command_line
    utility.execute()
  File "/usr/lib64/python2.7/site-packages/django/core/management/__init__.py", line 3

[2018-04-07 11:47] kryskool commented on #108
_From @fyfe on January 29, 2018 18:43_

Did you do all the [upgrade steps](https://modoboa.readthedocs.io/en/latest/upgrade.html#id2), you're probably missing `modoboa.transport` from `MODOBOA_APPS` in `settings.py`.

[2018-04-07 11:47] kryskool commented on #108
_From @lmfrazao on January 29, 2018 18:52_

I folowed the steps, yes.

I wasn't using modoboa user.

error:

Unknown command: 'checks'

[2018-04-07 11:47] kryskool commented on #108
_From @fyfe on January 29, 2018 18:54_

Sorry that should have been `check` (no s)

[code]

[2018-04-07 11:47] kryskool commented on #108
_From @lmfrazao on January 29, 2018 18:55_

?: (modoboa-amavis.W001) AMAVIS_DEFAULT_DATABASE_ENCODING does not match the character encoding used by the Amavis database.

this should be the error

[2018-04-07 11:47] kryskool commented on #108
_From @fyfe on January 29, 2018 18:59_

`AMAVIS_DEFAULT_DATABASE_ENCODING` should match the output from this SQL (change the database name if it's not amavis)
[code]

[2018-04-07 11:47] kryskool commented on #108
_From @lmfrazao on January 29, 2018 19:0_

![capture](https://user-images.githubusercontent.com/33859834/35528703-a6e400be-0526-11e8-9a67-baca70138a7b.PNG)
![capture1](https://user-images.githubusercontent.com/33859834/35528704-a702b4d2-0526-11e8-9648-7962cc752a81.PNG)

[2018-04-07 11:47] kryskool commented on #108
_From @lmfrazao on January 29, 2018 19:1_

on settings.py:
AMAVIS_DEFAULT_DATABASE_ENCODING = 'utf8'

[2018-04-07 11:47] kryskool commented on #108
_From @lmfrazao on January 29, 2018 19:2_

I have other errors btw, but I think it's shouldn't be related to this:

?: (modoboa-amavis.W001) AMAVIS_DEFAULT_DATABASE_ENCODING does not match the character encoding used by the Amavis database.
        HINT: Check your database character encoding and set/update AMAVIS_DEFAULT_DATABASE_ENCODING.
?: (security.W001) You do not have 'django.middleware.sec

[2018-04-07 11:47] kryskool commented on #108
_From @fyfe on January 29, 2018 19:8_

`AMAVIS_DEFAULT_DATABASE_ENCODING = 'utf8'` is correct for you're database.

The other warnings are caused because we don't use `django.middleware.security.SecurityMiddleware` it's dealt with by nginx.

This looks like an issue with python not liking what's in the subject field, can you post the result for the following
[code]

[2018-04-07 11:47] kryskool commented on #108
_From @lmfrazao on January 29, 2018 19:12_

it's a long list with 42k lines

but enconding is fine, the characters appear correctly

[2018-04-07 11:47] kryskool commented on #108
_From @lmfrazao on January 29, 2018 19:22_

![capture](https://user-images.githubusercontent.com/33859834/35529685-abcc518c-0529-11e8-8d49-2dcb40fade7d.PNG)
just a sample

[2018-04-07 11:47] kryskool commented on #108
_From @fyfe on January 29, 2018 19:43_

I see the problem, unicode emoji, I hate them 😠 The `utf8` encoding in MySQL (and MariaDB) doesn't support the full range of unicode character (ie unicode emoji) that's why they added the `utf8mb4` encoding.

I'll need to go away and look a this again I might have to revert my original fix for this.
https://github.com/modoboa/modoboa-amavis/blob/master/modob

[2018-04-07 11:47] kryskool commented on #108
_From @fyfe on January 29, 2018 19:51_

Ok some quick research it's a python 2 issue, nothing to do with the database encoding.

[2018-04-07 11:47] kryskool commented on #108
_From @fyfe on January 29, 2018 20:39_

@lmfrazao in python could you run the following
[code]

[2018-04-07 11:47] kryskool commented on #108
_From @lmfrazao on January 30, 2018 0:6_

it returns 'UCS4'
same errors with  python manage.py check --deploy

[2018-04-07 11:47] kryskool commented on #108
_From @lmfrazao on January 30, 2018 0:19_

oww wait, the error with the check --deploy is gone

but what to do now ?

[2018-04-07 11:47] kryskool commented on #108
_From @lmfrazao on January 30, 2018 14:17_

@fyfe you figured out how to fix this ?

[2018-05-04 09:28] 8Cris1 opened #109 "Quarantine non-ascii decoding"
Hi, I have amavis database and AMAVIS_DEFAULT_DATABASE_ENCODING both set to 'LATIN1'.
Now, in 'msgs' table, column 'from_addr', of amavis database I have this string "Brokeñ Héader fíeld" with non-ascii chars.
When I click on this mail (on quarantine tab of dashboard) I have this error:

[code]

Is there a way to allow non-ascii decoding?

Thanks

[2018-05-23 15:30] manioul commented on #8
This helps a lot! Thx @jichu4n .

[2018-06-11 22:28] Renatov commented on #92
Hi, thank you very much

[2018-07-10 13:47] akong77 opened #110 "Wish: Could direct release message when I mark non-spam?"
Could direct release message when I mark non-spam?Thanks a lot.

[2018-07-10 14:56] akong77 opened #111 "How to add whitelist and blacklist?"
If I want add email to whitelist or blacklist.How to do it?

[2018-07-10 15:30] tonioo commented on #111
Duplicates https://github.com/modoboa/modoboa-amavis/issues/2. That's something we might do if we find some funds one day...

[2018-07-10 15:30] #111 closed

[2018-08-02 06:04] akong77 opened #112 "How to disable bad header check?"
Hello,
I will got some mail to quarantine and always show bad header.I see mail log.It's show

It's my user send mail the same domain account.I know can release it.But I want know could disabled bad header check?

[2018-08-04 10:20] christianwgd opened #113 "Quarantaine list scrolling issue on large screens"
On large screens (seems like more than 1200px height) the scrolling of the quarantaine list is not expanded to that height and the scrolling doesn't work. If i size the browser window to a size lower than that height everything is fine.

See a sample view in the attached png:
<img width="1331" alt="scroll-list" src="https://user-images.githubusercontent.com/9281647/43675239-3424fb2a-97e1-11e8-810e

[2018-08-13 19:42] danielsatanik opened #114 "TypeError at /quarantine/getmailcontent"
Hi,

almost all my SPAM mails that I open inside the quarantine throw an error. So I enabled debug and this is the stacktrace and environment information that is thrown:

[code]

Is there anything misconfigured? Is this a known issue?

[2018-08-19 08:00] #114 closed

[2018-08-19 08:01] tonioo commented on #109
@8Cris1 Could you please paste the full stack trace?

[2018-08-19 08:06] tonioo commented on #112
@akong77 You can tweak bad header checks by editing amavis configuration. This page should be useful: https://www.prosinger.net/amavis-new-bad-header-checks-tweaking/.

[2018-08-19 08:06] #112 closed

[2018-08-19 08:34] #107 closed

[2018-11-06 10:34] BigMichi1 opened #115 "qcleanup fails with error"
the cronjob which was installed by modoboa-installer fail every night with the following error

Cronjob:
[code]

Error:
[code]

[2018-11-08 07:59] tonioo commented on #115
@BigMichi1 Strange, looks like a python3.6 compat issue... I'll try to reproduce it.

[2018-11-27 07:16] dugite-code opened #116 "Self-service emails not sent"
I've enabled self service mode in the web interface however nothing is ever sent. The docs mention setting up a template however the link provided to the amavis docs only talk about spam and virus templates so I am not clear on how you set that up or even IF I have to set that up and that is part of the install process.

Installed using the installer script

Ubuntu 18.04.1 LTS

Modoboa | 1.12.2 |

[2018-11-28 12:55] tonioo commented on #116
@dugite-code Amavis sends notifications to local VIRUS/SPAM recipients. To enable this feature, try to add the following settings to amavis configuration:
[code]

[2018-11-29 03:05] dugite-code commented on #116
Ah I see, because my modoboa install is `mail.example.tld` amavis sees `example.tld` as non-local. That makes sense.

I've modified the local domains acl  `@local_domains_acl = ( ".$mydomain", "example.tld" );` instead of adding the `$warn_offsite = 1;`

I'll see if this fixes my issue.

[2019-01-22 07:35] #116 closed

[2019-02-08 01:47] dugite-code commented on #116
Just to follow up. The issue is amavis will not send spam quarantine notifications, it will only send virus quarantine notifications. From my reading there is no way to make it send spam quarantine notifications because "you're just replacing junk with junk"

I'm looking to see if it's possible to write a script that inspects the DB and send's a daily report to recipients

[2019-02-08 10:17] pavinjosdev opened #121 "Deleting catch all alias deletes the domain from amavis.users table"
# Impacted versions

* Modoboa: 1.13.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

1. Create a domain
2. Create a SimpleUser
3. Create a catch all alias pointing to above mailbox
4. Delete catch all alias

# Current behavior

Deleting catch all alias deletes domain from `amavis.users` table.

# Expected behavior

Domain is added to `amavis.users` table on domain creation (Step

[2019-02-21 16:01] TildeSlashC0re commented on #102
I confirm that the issue still persists in **modoboa 1.13.1** - it's been a year so here's some more debug log output.

[code]

I would be very happy to **any** pointers how to resolve this, so the docker-deployment I am working on (and getting close to finishing it - https://github.com/modoboa/modoboa/issues/821), would feel a little more complete feature-wise :)

[2019-02-21 16:08] TildeSlashC0re commented on #104
it appears to me that your database wasn't initialized correctly...

you have to run one of [these SQLs](https://github.com/modoboa/modoboa-installer/tree/master/modoboa_installer/scripts/files/amavis) on your amavis database.

Pick the corresponding SQL for the database-system(mysql/pgsql) you are using.

[2019-02-22 11:20] TildeSlashC0re commented on #102
some additional logs from the **postgresql** perspective:

[code]

this one in particular strikes me as odd:

[code]

[2019-02-25 09:15] #104 closed

[2019-03-22 03:22] PatTheMav commented on #115
I have the same issue and from what I can tell the root cause seems to be psycopg2 using `memoryview` for `bytea` fields under py3. Amavis‘ `msgs` table‘s primary key consists of an integer and that bytea, so the `pk` field in Django‘s model will probably be a memoryview as well. This breaks the `delete` function.

According to the psycopg2 devs, this is something they might fix in v3, but will st

[2019-03-30 23:12] y0va opened #117 "Spamassassin learn from imap folder"
I found the recommendation to install the dovecot plugin for enabling spamassassin learning from the IMAP junk folder: https://github.com/modoboa/modoboa-amavis/issues/32#issuecomment-221185851

Today this should be done with https://wiki2.dovecot.org/HowTo/AntispamWithSieve#For_spamassassin

This is still to be done manually, or have I overseen a config?

[2019-04-02 01:01] ironage commented on #115
I observe the same error with modoboa: 1.13.1 and Amavis frontend: 1.2.3 on Ubuntu 18.04.2 LTS.
The specific cron job that's failing is `./env/bin/python instance/manage.py qcleanup`
I'm disabling the job from `/etc/cron.d/modoboa` until this is fixed.

[2019-04-02 02:25] PatTheMav commented on #115
@ironage Which version of Python do you run modoboa with? IIRC psycogp2 should use `buffer` for `bytea` fields under Python 2.

Django automatically orders objects by their primary keys when deleting them and as stated above the `msgs` table `bytea` field used as primary key is mapped to `memoryview` in Python 3 and thus not comparable.

[2019-04-02 16:26] ironage commented on #115
@PatTheMav I'm using Python 3.6.7.
It seems to me that `memoryview` should implement comparison, maybe it is an oversight. Functionally it could be the equivalent of `a.tolist() < b.tolist()`;

[2019-04-02 18:42] PatTheMav commented on #115
@ironage Well, Python 3 explicitly states: `TypeError: '<' not supported between instances of 'memoryview' and 'memoryview'`.

This is due to `__lt__` and `__gt__` not being implemented:

[code]

I've dug up this post/reply by a `psycopg2` developer explaining this "mess": https://www.postgresql.org/message-id/CA%2Bmi_8Zy50LYof%3DFfO9qybeQJfoLPpUXCand8CBvapS%3DXoCkGg%40mail.gmail.com

I've tried u

[2019-04-02 19:42] ironage commented on #115
@PatTheMav many thanks for that workaround! I applied the patch and it's working for me as well. I'll enable the cron job again. Probably the issue is really the fault of psycopg2 for not using a type that supports sorting by default, but I also think the memoryview should support comparison in this case. I found an open issue about it and left a comment there providing this issue as an "in the wi

[2019-04-08 13:10] tonyguadagno opened #118 "BAD HEADER SECTION Duplicate header field: "Cc""
hi, i am running modoboa 1.13.1 installed on centos7 using the auto installer.

I am seeing a lot of emails in quarantine because of this:
`BAD HEADER SECTION Duplicate header field: "Cc"`
The headers do seem to have duplicate cc: ...but why?  I am pretty sure the email was not generated initially with 2 cc fields.  is this a byproduct of amavis or something else?  how do i stop it?

thanks in adv

[2019-05-06 12:34] proto commented on #115
Many thanks, it's working for me too.

Sorry @tonioo for duplicate.

[2019-05-17 07:51] tonioo commented on #117
@y0va Yes, it is not activated by default.

[2019-05-17 07:53] tonioo commented on #118
@tonyguadagno I don't know why your emails have 2 CC fields but you can tell amavis to not quarantine Bad header messages, just update the configuration like this:
[code]

[2019-10-06 06:19] psycotic2017 opened #119 "AttributeError at /quarantine/process/ - quarantined mails not being released"
Hi,

I'm running modoboa 1.14.0 and modoboa-amavis 1.2.3 under a Python 3.6 virtual environment.

On releasing quarantined mails I am receiving the following error:

[code]

The actual line from modoboa_amavis/lib.py is:

`return struct.pack("B", string.atoi(match.group(0)[1:], 16))`

Unfortunately I have no python programming experience but a quick google suggests that `string.atoi` has been depr

[2019-11-11 05:14] dbryar commented on #103
New to Modoboa, but looking for these things myself.

For completeness, I am using the method from my old setup with a helo access check against hash:/etc/postfix/helo-access

In /etc/postfix/main.cf, add the following;
'''
# Junk senders are refused service
smtpd_helo_restrictions =
        permit_sasl_authenticated
        permit_mynetworks
        check_helo_access hash:/etc/postfix/helo-access

[2019-12-03 14:40] stormleoxia opened #120 "CSRF error: Cannot release or delete quarantine"
Hi,

I'm running modoboa 1.14.0 and modoboa-amavis 1.2.3 under a Python 2.7.12 virtual environment

I am unable to release or delete any quarantine mail.

It seems the CRSF token is wrong or not the one expected.

In the server:

[code]

In the browser:

[code]

In the cookies, I have a cookie named `csrftoken`.

In `settings.py`:

[code]

[2019-12-11 05:38] plvsouza commented on #120
Also I can not release or delete but does not show any errors. Using the same version modoboa 1.14.0 and modoboa-amavis 1.2.3

My settings.py

# Security settings

X_FRAME_OPTIONS = "SAMEORIGIN"
CSRF_COOKIE_SECURE = True
SESSION_COOKIE_SECURE = True

[2020-01-05 18:46] stalks commented on #119
I'm also not a Python programmer, but I had a go at fixing this. I started with applying the int() fix you mentioned, which then led me to the incorrect mail_id error in Amavis logs you were seeing.

The 'b' symbol prefix is saying that the object is byte-encoded. Byte-encoded objects have a decode() function to convert back to string.

So to fix this, I changed the 'sendreq' function of the 'AMre

[2020-01-12 11:34] soakes commented on #120
Hello,

I also have the same issue as OP.

My config file is default (unedited) and a fresh build/install the other week

[code]

![image](https://user-images.githubusercontent.com/813389/72218115-365cae00-352f-11ea-8a67-b69c86f937d9.png)

Whats interesting is, I can mark mails as spam/ham but I can't release, everything else works.

Any ideas on FIX anyone to be able to release mail which has bee

[2020-01-16 05:31] stormleoxia commented on #120
From what I understood, I think the post in the quarantine.js do not send the cookie as header request because the csrf.js cannot read it.

The current implementation in modoboar seems to assume that CSRF_USE_SESSIONS and CSRF_COOKIE_HTTPONLY are False: [Django](https://docs.djangoproject.com/en/3.0/ref/csrf/)

As the cookie is set as HTTPONLY, [browser doesn't permit to read it from javascript]
(

[2020-01-16 05:42] stormleoxia commented on #120
so quickest fix for me was to set `CSRF_COOKIE_HTTPONLY`  to False in the `settings.py`

    service uwsgi restart

- sign
- out sign in

et voila ;)

[2020-02-20 07:36] psycotic2017 commented on #119
Thanks Stalks, your above mentioned fix works for me

[2020-02-28 14:55] tonioo commented on #120
I guess a @csrf_exempt on the view would be a better solution here...

[2020-02-28 15:04] #118 closed

[2020-03-09 14:11] #121 closed

[2020-03-27 13:04] Pleskan commented on #119
That's patch works fine on MySQL backend, but doesn't work on PostgreSQL.
Just for info @tonioo

[2020-04-20 07:56] myousuffazal opened #122 "Cannot Release Emails"
Cannot release any email from the Quarantine Management

DoesNotExist at /quarantine/release/wNxCxiq8ySp5/
Msgs matching query does not exist.

Traceback:

File "/srv/modoboa/env/lib/python3.6/site-packages/django/db/models/fields/related_descriptors.py" in __get__
  178.             rel_obj = getattr(instance, self.cache_name)

      During handling of the above exception ('Msgrcpt' object has no

[2020-04-27 12:31] xeeshan-Mustafa commented on #102
I cant release emails from quarantine i press the button release but nothing happens
(modoboa)
delete button working fine

[2020-04-27 12:38] xeeshan-Mustafa commented on #120
I am unable to release email but i can delete emails

[2020-04-27 14:54] s256 commented on #102
Same here.

Setup via modoboa-installer on Debian Stretch with:

amavisd-new 2.11.0

modoboa                         1.14.0
modoboa-amavis                  1.2.3
modoboa-contacts                0.7.3
modoboa-pdfcredentials          1.3.2
modoboa-postfix-autoreply       1.5.1
modoboa-radicale                1.3.6
modoboa-sievefilters            1.4.2
modoboa-stats                   1.4.1
modoboa-we

[2020-04-27 15:00] s256 commented on #122
Probably duplicate of https://github.com/modoboa/modoboa-amavis/issues/102

[2020-04-27 19:12] myousuffazal commented on #122
Yes, it seems like, but even there, there is no solution to the problem.

[2020-04-28 22:17] s256 commented on #122
It's on the roadmap for the next release as I just saw.
Hopefully it's coming soon :)

Just want to confirm that I get the same error:

[code]

[2020-04-28 22:24] s256 opened #123 "Manual learning is not working according to bayes db"
After a fresh install there should be an empty bayes db, by marking quarantined messages as spam or ham this db should fill slowly but steadily.

This does not happen according to `sa-learn --username=vmail --dump magic`

So I decided to make an initial learning with
`sa-learn --ham --username=vmail  /usr/share/doc/spamassassin/examples/sample-nonspam.txt.gz `
and
`sa-learn --spam --username=vmail

[2020-04-29 21:39] s256 opened #124 "Only Super Admin can mark quarantined mails as spam or ham"
Contrary to the docs only SuperAdmins can mark quarantined emails as spam or ham.
I set up two fresh servers (both with the official installer) on with postgres and the other with mysql.

To test another issue, but on both systems only the super admin can mark messages as spam or ham.

[2020-04-29 21:55] s256 commented on #122
Update: This behaves different with mysql.
While running one server with  mysql and one with postgres (both fresh installations for these tests) on the MYSQL Server I see this in the mail.log
[code]

While I there is no such message with the postgres setup.
This simply strikes me like a type error where this is binary opposed to string.  I just haven't figured out the part in the code to fix it.

[2020-04-30 07:33] myousuffazal commented on #122
I am running it with postgres and it doesn't outputs any message in mail.log when I click Release.

[2020-04-30 07:36] myousuffazal commented on #122
It must be an issue with parsing somewhere in the code, because I can easily mark that email as non-spam and it shows success for that, but for releasing it gives error. So for marking it not spam, it gets to access the database properly but for releasing it, it is causing error.

[2020-04-30 09:19] tonioo commented on #124
@s256 Is it related to the other issue you opened: https://github.com/modoboa/modoboa-amavis/issues/123?

[2020-04-30 22:40] s256 commented on #124
@tonioo nope. Simple User and (at least) Domain Admins don't have the option to mark a mail as spam. The little drop down menu where you can "correct" amavis isn't there. I enabled Self-Service and direct release.
This is not related to the other issue. Even if these buttons aren't doing anything, they still should be there. So this might just be a frontend issue. Triggering an actual learning is

[2020-05-06 20:07] tonioo commented on #119
@Pleskan Can you give more information please? Like a stack trace?

[2020-05-06 20:17] Pleskan commented on #119
Unfortunately no, for now.
Just because I switched to MySQL in production environment.
But as soon as I deploy test environment again (and have more time) I'll give you feedback ASAP.

[2020-05-07 12:17] #120 closed

[2020-05-07 12:19] tonioo commented on #119
@Pleskan Thank you. I'll close this issue for now, please open a new one when you have more information.

[2020-05-07 12:19] #119 closed

[2020-05-11 22:47] studioluminous commented on #122
I have this issue as well on Ubuntu 18.04 running Modoboa 1.15.0 and modoboa-amavis 1.3.0. They can be deleted, marked as spam and everything other than being released.

[2020-05-12 19:24] tonioo commented on #122
Guys, I've just pushed a fix tested on python 3.5.3 and postgres which allows superadmins to release messages. Can you tell me what is your setup?

[2020-05-13 04:21] studioluminous commented on #122
I’m running mysql(mariadb) not postgres and modoboa 1.15.0., Python is 3.6.9.

[2020-05-13 06:57] tonioo commented on #122
@studioluminous could you try the fix on your installation?

[2020-05-13 20:38] studioluminous commented on #122
Sure @tonioo how do I go about getting the fix?

[2020-05-14 19:13] tonioo commented on #122
@studioluminous you can retrieve a patch corresponding to the referenced commit or you can install the development version of this plugin using pip. For example (if you used the installer):
[code]
And then reload ``uwsgi`` as ``root``.

[2020-05-14 20:07] studioluminous commented on #122
Thanks @tonioo, that works just fine. I didn't try it on a domain admin or user level but for a superadmin it works perfectly.

[2020-05-15 09:02] tonioo commented on #122
@studioluminous indeed batch releasing do not seem to work but I can batch delete... (at least using postgres, I'm testing on the official modoboa demo). Do you have more information?

[2020-05-15 16:17] studioluminous commented on #122
@tonioo Sure, I'm used the Modoboa installer but I chose mysql so I'm running Maria DB. I just updated to 1.15 and all the extensions to their latest version. I've not modified Modoboa or added any customizations other than a logo for the login screen. I've not added any extensions other than what came with the installer. I'm running Ubuntu 18.04 on a VPS with plenty of memory and storage. My pack

[2020-05-15 16:24] tonioo commented on #122
@studioluminous ok. And when you try to release more than one email, what happens?

[2020-05-15 16:34] studioluminous commented on #122
Nothing. Everything just stays as it is. It prompts me through the browser if I’m sure I want to release or delete the selection and the I confirm and nothing happens. I refresh the window and all the emails are still there.

Jasha

[2020-05-15 16:42] tonioo commented on #122
Can you open you javascript console and check the network tab? You should see requests returning with errors (400 or 500).

[2020-05-15 18:54] tonioo commented on #122
@studioluminous I think I've fixed the issue. I pushed a new fix, can you test it please? (just git pull your local copy and reload uwsgi)

[2020-05-16 15:44] studioluminous commented on #122
@tonioo Thanks and sorry I couldn't get back to you yesterday. I just tested it and it seems resolved for releasing and deleting. Thanks for all your help!

[2020-05-18 08:41] Pleskan opened #126 "Unable to release objects from quarantine:TypeError at /quarantine/process/ can't pickle memoryview objects"
Hi again!

I'm running latest Modoboa 1.15 on Debian Buster nginx+uwsgi PostgreSQL database backend at staging environment and have subject error now.

Here is debug output from Modoboa
[code]
Sorry if it too large for reading, but it's complete :-)
I've general jquery error `SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data` because of subject bug too.
Another rema

[2020-05-18 08:51] Pleskan commented on #126
May be you'd move that issue to Modoboa project not amavis subproject.
If I've missed with topic.

[2020-05-18 08:52] tonioo commented on #126
Duplicates #122. A fix has been found, it will be released soon.

[2020-05-18 08:52] #126 closed

[2020-05-18 08:53] #122 closed

[2020-05-18 09:27] tonioo commented on #115
@PatTheMav Where did you put your fix in the code?

[2020-05-18 09:38] #102 closed

[2020-05-18 09:45] tonioo commented on #123
@s256 Can you copy your settings here please?

[2020-05-18 09:54] tonioo commented on #124
@s256 Can you paste your settings here? (screenshot of the online parameters)

[2020-05-18 10:19] Pleskan commented on #122
@tonioo Thanks for pointing me here.
I've applied patch myself.

[2020-05-18 10:54] PatTheMav commented on #115
@tonioo I updated `settings.py` and put this right below `import os`:

[code]

I also had to add a single `psycopg2.py` in the `site-packages` directory with the following content to make it work:

[code]

Alas I don't know which module needed this to work or if this was some compatibility fix with Django, I will have to investigate this again. But this is `psycopg2cffi` specific for Pypy3 support

[2020-05-20 20:15] xeeshan-Mustafa commented on #102
you can do this by replacing lib.py file

[2020-05-22 09:34] pubmania commented on #115
@PatTheMav  Thanks for this. I have applied the patch and I hope it will work. For the `psycopg2.py` file that is to be created in site-packages... am I correct to place it at following path:

`/srv/modoboa/env/lib/python3.6/site-packages`

[2020-05-22 10:11] PatTheMav commented on #115
@pubmania Yeah straight in there, but I'd advise leaving it for now as I can't recall what I needed that fix for and it's more or less a hack that should be avoided if necessary.

[2020-05-22 11:20] pubmania commented on #115
Cheers 👍👍

I created the file so might as well leave it there if it won't harm anything or do you reckon deleting is better way to go.

[2020-05-22 11:27] PatTheMav commented on #115
Well on second thought it _has_ to be a workaround for pypy as psycopg2cffi is used specifically for that purpose, it doesn't really make sense to use it with CPython (as psycopg2 has more recent updates and there is no performance penalty for C modules), so that dummy file just covers modules that load/require a psycopg2 file for an import that would otherwise fail.

So bottom line: If you use CP

[2020-05-22 12:12] pubmania commented on #115
ah I don't know much about CPython so it is safe to assume I don't use it but I do use Postgres database. Thanks for taking the time to explain.

[2020-05-22 12:14] PatTheMav commented on #115
CPython is the name for the "normal" python, so that's the one you probably have in use. 😉

[2020-05-22 12:16] pubmania commented on #115
lol... damn so I do use it

[2020-06-02 08:54] s256 commented on #123
Sorry, I can't. I disabled and removed the amavisd including the amavis plugin for modoboa. I'm using rspamd now. So I can only offer the django config.

With all the open issues regarding the amavis plugin I didn't feel comfortable using it in production.
Currently I don't have a dev instance. I'll let you know as soon as I have the time to set one up again.

@tonioo You must have a running modob

[2020-06-02 08:55] s256 commented on #124
Sorry, I can't. I disabled and removed the amavisd including the amavis plugin for modoboa. I'm using rspamd now. So I can only offer the django config.

@tonioo Can simple users and domain admins mark email as spam/ham in the webui on your instance?

[2020-06-09 08:55] tonioo commented on #123
@s256 Unfortunately I'm not using the amavis plugin...

[2020-06-09 09:02] tonioo commented on #124
@s256 I've just tried on the demo site and it works but it is not enabled by default.

[2020-08-06 07:43] BigMichi1 opened #127 "openenig quarantine page results in internal error - KeyError '?'"
when the page is shown and a where normally the list with the emails is displayed an internal error appears

enabling debug shows this
[code]

[2020-09-03 07:16] ivdok opened #128 "Non-latin characters FUBAR"
Amavis collation: utf8mb4_general_ci
Character set: utf8mb4
`manage.py` triggers `modoboa-amavis.W001` check, but my ~/instance/instance/settings.py contains `AMAVIS_DEFAULT_DATABASE_ENCODING = 'UTF8MB4'` (neither "UTF8MB4" nor "utf8mb4" works for whatever reason).

These supposedly correct settings result in this unicode salad when opening quarantined items:
![Screenshot_2020-09-03_10-08-29](http

[2020-09-10 17:12] alisonw commented on #115
Just to throw in I got this message ("TypeError: '<' not supported between instances of 'memoryview' and 'memoryview'") for the first time overnight, so the issue is still around even with fully up-to-date Modoboa installation. The box _seems_ to still be working on through though so I haven't (yet, anyway) tried the patch above.

Full Traceback (most recent call last):
[code]

[2020-09-10 21:32] alisonw commented on #8
Many thanks jichu4n for that routine, which I've just successfully used to set DKIM/DMARC for my domains. One thing though - there doesn't seem to be an obvious route to using Modoboa to generate keys for _alias_ domains. Can they be done manually somehow?

[2020-09-11 09:19] tonioo commented on #8
@alisonw Not yet. See https://github.com/modoboa/modoboa/issues/1882.

[2020-09-12 14:40] alisonw commented on #8
Ta. I've taken the 'easy' way out by re-creating the aliased domains as standard ones and recreating the users. :-p

[2020-09-28 13:32] FranMercedesG commented on #115
Where I should put that?

on /srv/mobodoa/instance/instance/settings.py ?

[2020-09-28 13:36] PatTheMav commented on #115
Yep, as I mentioned in https://github.com/modoboa/modoboa-amavis/issues/115#issuecomment-630104853.

[2020-09-28 13:43] FranMercedesG commented on #115
Ok, I no longer have errors, but it is not cleaning the emails that are in quarantine

[2020-10-08 16:39] bigwillystyle42 commented on #127
My quarantine is currently impacted by this issue. I have my system configured to email me the errors, so the additional information I can provide is:

Exception Location:  /home/modoboa/env/lib/python3.5/site-packages/modoboa_amavis/templatetags/amavis_tags.py in msgtype_to_html, line 140

There is a message in my quarantine which has a type of '?' which appears to be causing this problem. The ac

[2020-10-12 05:42] ivdok commented on #128
Bump

[2020-10-12 19:10] tonioo commented on #128
@ivdok Have you tried to manually check the encoding of the messages contained in your database?

[2020-11-17 15:24] kisst commented on #115
This issue still exist on python3.7 as well.
[code]

[2020-11-17 15:56] PatTheMav commented on #115
It will continue to exist for as long as you use a Postgres database and Django uses `psycopg2`.

`psycopg3` is in development, but far from production ready and all signs point to this never being fixed, because it only happens in specific circumstances, mainly using a composite primary key for a Django model which is made up of a scalar and a `bytea` field. Django does some automatic sorting and

[2020-12-17 13:15] Pleskan opened #133 "Can't unblock message in Qurantine"
Hi!

Modoboa upgraded from 1.14 to the latest stable 1.17.
I get **"Connection to amavis failed: [Errno 2] No such file or directory"**
while trying to unblock the message in Qurantine menu.
Give me  clues how to fix this, please.
What way have I go?

Thanks!

[2020-12-17 13:45] Pleskan commented on #133
I can work issue around if switch from Unix socket to tcp connection in the Settings, but is this a bug?
And how to make it work with the defaults?
[screenshot](https://i.imgur.com/OzEwjc4.png)

[2021-02-15 13:44] dymitar opened #135 "Quarantine deletion not working with MariaDb 5.5/10.0 and modoboa 1.15.0"
The manage.py qcleanup command is not deleting quarantined messages.
The problem is in the database<->model configuration for table msgs.
The table configuration is:
| mail_id       | varbinary(16)       | NO   | PRI | NULL    |       |
The model is:
mail_id = models.CharField(max_length=12, primary_key=True)

The query returns the data in form {'mail_id': b'00RbMiUxZ0FY'}
Which leads to a delete

[2021-02-15 14:43] dymitar commented on #135
This change breaks showing the content of quarantined messages.

[2021-02-15 17:34] dymitar commented on #135
Changed the database to mariadb 10, the problem persists.
Changing the field type of mail id in some tables in amavis database from varbinary to varchar solves the problem without known side effects.

[2021-03-25 08:23] unikulin commented on #135
Same for me.
The manage.py qcleanup command is not deleting quarantined messages.
database is MariaDB 10.3
manage.py qcleanup --DEBUG generate this line of code:
DELETE FROM `msgs` WHERE `msgs`.`mail_id` IN ('b\'zrFD-gH1QXjF\'');
Query OK, 0 rows affected (0.000 sec)
but it doesn’t work.
the correct syntax should be:
DELETE FROM `msgs` WHERE `msgs`.`mail_id` IN ('zrFD-gH1QXjF');
Query OK, 1 row af

[2021-03-29 02:19] skandragon opened #136 "qcleanup doesn't delete messages (PostgreSQL)"
It seems that either I don't understand what `qcleanup` is supposed to do, or it doesn't delete messages properly.

This is a very old install which has been upgraded over the years.  However, while it seems I can delete in the web UI's quarantine page, running qcleanup doesn't seem to delete mail older than the configured 14 days:

Before running:
[code]

[code]

After running:

[code]

(that is,

[2021-04-11 21:44] kiloDE commented on #115
Hello there, what does the code exactly? Since this information provides the possibility to improve the code, so it will not throw errors in the future
I didn't looked at it directly, but I got a lot of these exceptions thrown and I see in the conversation here, that the code does something with the amavis modoboa plugin / spam quarantine "filter"

`psycopg3 is in development, but far from product

[2021-04-28 16:25] unikulin commented on #135
update in model.py
msgs.mail_id definition. from
mail_id = models.CharField(max_length=12, primary_key=True)
to
mail_id = models.BinaryField(max_length=16, primary_key=True)
max_lenght set to 16, as amavis db schema define this field as  "mail_id     varbinary(16) NOT NULL"

not all works as expected

[2021-06-28 13:43] tonioo commented on #136
@skandragon Could it be the same issue than https://github.com/modoboa/modoboa-amavis/issues/135?

[2021-09-23 08:23] jeffjohnson11 opened #140 "Quarantine List Empty"
### Impacted versions
Modoboa: 1.17.0
Amavis Frontend: 1.3.1
Installer used: No
Webserver: Apache
Database: MySQL 8.0.25
Browser used: Chrome/91.0.4472.166 (browser independent, happens on all browsers)

### Steps to reproduce
Follow the steps at https://github.com/modoboa/modoboa-amavis/blob/master/docs/setup.rst and connect Amavis to MySQL. Then receive some spam emails or enable `$clean_quarant

[2021-11-11 20:42] jonasesser opened #142 "Embed Webmailer into another website"
Hi all,

can you help me to embedd the webmailer into another website.
Currently I got the following error:

chromewebdata/:1
       Refused to display 'https://mail.****.de/' in a frame because it set 'X-Frame-Options' to 'sameorigin'.

I think its related to Cross-Origin Resource Sharing (CORS).

Can you give me an hint to add the embeding site domain to cors allow list?

Best regards,
Jonas

[2021-11-11 20:50] jonasesser commented on #142
sorry wrong component. Create a new issue here https://github.com/modoboa/modoboa-webmail/issues/222

[2021-11-11 20:51] #142 closed

[2021-11-26 20:37] felixlberg opened #143 "Cannnot release mails form quarantine as super admin"
I cannot release quarantine as super admin on Ubuntu 20.04.3

installed with: `sudo python3 ./run.py --stop-after-configfile-check`

Installed patch mentioned [here](https://github.com/modoboa/modoboa-amavis/issues/122):

[code]

But it still not worked

[code]

I tested `chmod 777 /var/lib/amavis/amavisd.sock` but without luck the problem persists.

kind regards

[2021-11-26 20:38] felixlberg commented on #143
#122

[2021-11-30 16:33] tonioo commented on #143
@felixlberg Have you checked what is the connection mechanism used in the settings you can find on the admin panel?

[2021-12-15 12:54] felixlberg commented on #143
As i've written the connection method is `unix` otherwise it would make any sense to use a socket i guess.

After the default installation the option `PDP server socket` was pointing at another directory i had changed this to `/var/lib/amavis/amavisd.sock` otherwise amavis generally did not work and i had other errors in the logs.

Changing the socket path to the actual amavis socket fixed that pr

[2022-02-21 11:56] felixlberg commented on #143
@tonioo Hey do you have some update regarding this issue?

[2022-03-13 13:45] bigwillystyle42 commented on #133
Two possible issues for you to look at:

1. Do you have the correct filename for the socket? Is either the web server or your amavis install running in a chroot which would change the location of files?
2. Does your webserver have write permission for the socket? On Debian this can be solved by adding www-data to the amavis group

[2022-03-13 13:46] bigwillystyle42 commented on #135
I've made the same change to my installation and it is currently deleting all the emails that have piled up for the past two years.

[2022-05-05 09:16] #136 closed

[2022-05-05 09:19] #135 closed

[2022-05-05 09:21] tonioo commented on #143
@felixlberg Have you checked amavis configuration for release setup? Is it listening on a unix socket or a UDP one?

[2022-05-06 09:53] felixlberg commented on #143
@tonioo yes that seems to be the same path:
`sudo nano /usr/sbin/amavisd-release`
[code]

[2022-05-06 14:19] felixlberg commented on #143
I don't think so cause its debian which has apparmour:
`sudo aa-status`
[code]

[2022-05-09 13:22] tonioo commented on #143
@felixlberg And what happens if you switch to an INET connection?

[2022-05-10 15:52] felixlberg opened #147 "Migration Fails"
After I updated to v2.0 from 1.17.0, I got an error when using `python manage.py migrate`:

[code]

How can I fix this?

[2022-05-10 15:55] #147 closed

[2022-05-10 16:22] felixlberg commented on #143
@tonioo I've upgraded now to modoboa to v2.0 and modoboa_amavis to 1.4.0 and changed to inet connection.
Nothing worked though and I just see and popup window which says "undefined".

I could debug this by mysql If I just had some more info about how to rise the loglevel end where the amavis logs are stored.
I simply just see any entries related with amavis eather in mail.log or in any other logs.

[2022-05-11 13:21] tonioo commented on #143
That's indeed strange. I guess it's the kind of question you should ask on amavis mailing list because it looks like an internal security check or something similar...

[2022-11-06 09:16] stefaweb commented on #115
Hi Folk!

I was out for 3 weeks.

I have the same problem for 2 weeks now with last modoboa version.

[code]